.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"]
  float none
  display inline-block

.form-search .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group
  margin-bottom 0

.bootstrap-select
  width 220px
  &.form-control
    margin-bottom 0
    padding 0
    border none
    &:not([class*="span"])
      width 100%
  & > .btn
    width 100%
    padding-right 25px
  &.show-menu-arrow
    &.open
      & > .btn
        z-index 2051
    .dropdown-toggle
      &:before
        content ''
        display inline-block
        border-left 7px solid transparent
        border-right 7px solid transparent
        border-bottom 7px solid #CCC
        bordercolor rgba(0, 0, 0, 0.2)
        position absolute
        bottom -4px
        left 9px
        display none
      &:after
        content ''
        display inline-block
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-bottom 6px solid white
        position absolute
        bottom -4px
        left 10px
        display none
    &.dropup
      .dropdown-toggle
        &:before
          bottom auto
          top -3px
          border-top 7px solid #ccc
          border-bottom 0
          bordercolor rgba(0, 0, 0, 0.2)
        &:after
          bottom auto
          top -3px
          border-top 6px solid #ffffff
          border-bottom 0
    &.pull-right
      .dropdown-toggle
        &:before
          right 12px
          left auto
        &:after
          right 13px
          left auto
  .btn
    &:focus
      outline thin dotted #333333 !important
      outline 5px auto focus-ring-color !important
      outline-offset -2px
  &.btn-group
    .btn
      .filter-option
        display inline-block
        overflow hidden
        width 100%
        float left
        text-align left
      .caret
        position absolute
        top 50%
        right 12px
        margin-top -2px
        vertical-align middle
    & > .disabled
      &:focus
        outline none !important
    .dropdown-menu
      min-width 100%
      z-index 2000
      box-sizing border-box
      &.inner
        position static
        border 0
        padding 0
        margin 0
        border-radius 0
        box-shadow none
      dt
        display block
        padding 3px 20px
        cursor default
      li
        position relative
        & > a
          cursor pointer
          &.opt
            position relative
            padding-left 35px
        & > dt
          small
            font-weight normal
            font-weight normal
        a
          i
            &.check-mark
              display none
        small
          padding-left 0.5em
      .notify
        position absolute
        bottom 5px
        width 96%
        margin 0 2%
        min-height 26px
        padding 3px 5px
        background #f5f5f5
        border 1px solid #e3e3e3
        box-shadow inset 0 1px 1px rgba(0,0,0,0.05)
        pointer-events none
        opacity 0.9
        box-sizing border-box
    .div-contain
      overflow hidden
    &.show-tick
      .dropdown-menu
        li
          &.selected
            a
              i
                &.check-mark
                  position absolute
                  display inline-block
                  right 15px
                  margin-top 2.5px
          a
            span
              &.text
                margin-right 34px
    .no-results
      padding 3px
      background #f5f5f5
      margin 0 5px
    &.fit-width
      .btn
        .filter-option
          position static
        .caret
          position static
          top auto
          margin-top -1px
  &.btn-group[class*="span"]
    .btn
      width 100%
  &.fit-width
    width auto !important
  .bs-actionsbox
    float left
    width 100%
    box-sizing border-box
    .btn-group
      button
        width 50%

.bootstrap-select.btn-group.pull-right,
.bootstrap-select.btn-group[class*="span"].pull-right,
.row-fluid .bootstrap-select.btn-group[class*="span"].pull-right
  float right

.input-append
  .bootstrap-select
    &.btn-group
      margin-left -1px

.input-prepend
  .bootstrap-select
    &.btn-group
      margin-right -1px

.error
  .bootstrap-select
    .btn
      border 1px solid #b94a48

.bootstrap-select.btn-group > .disabled,
.bootstrap-select.btn-group .dropdown-menu li.disabled > a
  cursor not-allowed

.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) > a small
  color #64b1d8
  color rgba(255,255,255,0.4)

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after
  display block

.mobile-device
  position absolute
  top 0
  left 0
  display block !important
  width 100%
  height 100% !important
  opacity 0

.control-group
  &.error
    .bootstrap-select
      .dropdown-toggle
        border-color #b94a48

.bootstrap-select-searchbox,
.bootstrap-select .bs-actionsbox
  padding 4px 8px

.bootstrap-select-searchbox
  & + .bs-actionsbox
    padding 0 8px 4px
  input
    margin-bottom 0