a
  cursor pointer
  text-decoration: none
  &:hover,&:focus
    text-decoration: underline

select
  height: $input-height-base
  &:disabled
    background-color transparent
    border-color $gray-lighter

body
  //fix for unexpected scrolling: don't affect content
  overflow-x hidden

/*--------------------------------------
    HEADER
--------------------------------------*/
.l-header
  background-color: $body-bg-contrast
  border-bottom: 1px solid $gray-light
  padding: 10px 0 15px
  /*fixed left top*/
  /*width: 100%;*/
  /*z-index: 1000*/

  .container
    position relative

  .bnr-wrap
    @extend .hidden-xs
    @extend .hidden-sm
    margin-top: 0
    margin-bottom: 0


  &.state-M,&.state-S
    padding-top: 0
    .bnr-wrap,
    .news-section
      display none


  &.state-S
    .widget-date,
    .widget-weather,
    .widget-currency,
    .project-search
      display none

    .l-header__main
      border-top: none

    .l-header__main__row
      margin: 6px 0

    .set-region
      li
        margin-top: 10px
        margin-bottom: 10px

    .logo
      img('logo-short.png')
      height: 41

    .project-nav
      top 5px

    .btn-show-menu
      bottom 4px


  +b($media-max-tablet)
    &.state-S
      .project-search
        display block


.l-header__main
  make-row()
  border-top: 10px solid #51525c

  +b($media-max-phone)
    border-top none


.l-header__main__right
  make-xs-column(10)
  make-sm-column(5)
  make-md-column(7)
  padding-left: 30px



.l-header__main__row
  margin: 12px 0
  make-row()

/*--------------------------------------
    FOOTER
--------------------------------------*/
.l-footer
  background-color: $body-bg-contrast
  padding-bottom: 15px
  margin-top: 20px

.l-footer__main
  make-row()
  border-top: 10px solid #51525c

  +b($media-tablet)
    margin-bottom: 15px


.l-footer__btm
  make-row()
  position relative
  border-top: 1px solid $gray-light
  color: $gray-light;
  margin-top: 10px
  padding-top: 15px
  font-size: 12px
  line-height: 1.2;

  &>*
    make-sm-column(6)
    make-lg-column(5)

  p
    margin: 0

  a
    color $gray
    text-decoration: underline;
    &:hover,&:focus
      text-decoration: none;




/*--------------------------------------
    MAIN
--------------------------------------*/
.l-main
  position relative

/*--------------------------------------
    COMPONENTS
--------------------------------------*/
.logo
  display block
  margin-top: 10px
  img('logo.png')
  height: 68px
  make-xs-column(10)
  make-sm-column(5)
  make-md-column(3)

  &:hover,&:focus
    text-decoration: none;



.widget-date
  make-xs-column(5)
  make-md-column(2)
  font-size: 11px;
  color: $text-color


.widget-weather
  make-xs-column(5)
  make-md-column(2.75)
  hLine()
  font-size: 11px;
  color: $gray-light

.widget-weather__unit
  color: $text-color;
  &:before
    pi middle
    position relative
    top -3px
    margin: 0 2px 0 5px

  $weather-unit-states = day $weather-day,
                         night $weather-night

  for $item in $weather-unit-states
    &.state-{$item[0]}:before
      sprite $item[1]




.widget-currency
  hLine()
  color: $gray-light
  font-size: 12px
  @extend .hidden-xs
  make-md-column(5.25)

  +b($media-tablet)
    make-row()

  &>*
    make-xs-column(5)

$available-currencies = dollar $currency-dollar,
                        euro   $currency-euro,
                        rouble $currency-rouble

for $item in $available-currencies
  .widget-currency__{$item[0]}
    &:after
      pi middle
      position relative
      top -1px
      sprite: $item[1]

$exchange-fluctuations = up down

for $item in $exchange-fluctuations
  .widget-currency__exchange--{$item}
    &:before
      pi middle
      position relative
      top -2px
      @extend .caret
      margin-left: 5px
      border-left-width  4px
      border-right-width 4px

    if $item == up
      color $brand-success
      &:before
        transform rotate(180deg)

    else if $item == down
      color $brand-danger



.project-nav
  color $gray-light
  font-size: 11px
  line-height: 30px
  text-transform: uppercase;

  ul
    reset-list()

  li
    display inline-block
    margin-right: 25px

  a
    color inherit

  .rss
    &:before
      pi()
      sprite: $icon-rss
      margin-right: 2px

  .l-header &
    @extend .hidden-xs
    make-sm-column(9)
    make-md-column(5)

  .l-footer &
    position relative
    top 52px


  +b($media-tablet)

    ul
      jLine()

    li
      hide-except(1..5, inline-block)
      margin: 0

    .l-footer &
      top 47px


  +b($media-max-phone)

    .l-footer &
      top 0

      ul
        text-align: center;

      li
        hide-except(1..5, inline-block)
        margin: 0 10px


.project-search
  margin: 0
  make-sm-column(1)
  make-md-column(5)
  size: 320px 30px
  position relative

  &:after
    pb(left 15px top 50%)
    sprite $icon-search
    transform translateY(-50%)
    pointer-events: none

  input
    size 100% inherit
    @extend .form-control
    background-color: $body-bg-contrast
    padding: 0 30px

  button
    absolute right 20px top 50%
    transform translateY(-50%)
    background-color: transparent
    @extend .text-hide
    sprite $icon-enter

  +b($media-tablet)
    padding: 0
    border $gray-light
    cursor pointer

    &:after
      left: 50%
      transform translate(-50%, -50%)

    input
      width: 0
      border-width 0
      padding: 0
      float: right

    button
      display none


    &.state-active
      border-color transparent
      cursor default

      &:after
        left -320px
        transform translate(0, -50%)

      input
        width: 360px
        padding: 0 30px
        border-width 1px

      button
        display block
        right 10px // because padding removed

  +b($media-max-phone)
    width: 320px
    margin: 0 auto




.set-region
  make-row()
  margin: 0
  font-weight: 700
  ul
    reset-list()

  li
    display inline-block
    margin-right: 10px
    margin-bottom: 15px

  a
    pressable()
    display block
    padding: 5px 10px
    color inherit
    border $input-border
    border-radius 1px


  .l-footer &
    @extend .hidden-sm
    @extend .hidden-xs

    li
      margin-top: 15px

  +b($media-max-phone)

    .l-header &
      display none //hide on initial
      width: 50%
      float: left

      li
        display block
        text-align: center;



.project-catalog
  make-row()
  text-transform: uppercase;
  font-size: 17px
  font-weight: 700

  ul
    reset-list()

  li
    display inline-block
    margin-left: 10px

  a
    display block
    color: inherit;
    @extend .reset-link-defaults
    border 2px solid transparent
    trans border-color
    padding: 5px 10px
    &:hover,&.active
      border-color $text-color


  +b($media-max-phone)

    .l-header &
      display none //hide on initial
      width: 50%
      float: right
      top 10px

      li
        display block
        margin-bottom: -2px
        text-align: right


    .l-footer &

      li
        hide-except(1..2, inline-block)



.web-counters
  reset-list()
  width: 280px
  padding: 0
  margin: 10px 0

  li
    display inline-block
    size 90px 30px
    margin-top: 4px

.bnr-wrap
  margin: 20px 0
  make-row()

  img
    img-responsive()



.btn-show-menu
  @extend .visible-xs
  @extend .text-hide
  display block
  sprite $btn-show-menu
  absolute right 20px bottom 12.5px
  clear: both

  +b('screen and (max-width: 450px)')
    position static
    margin: 0 auto

/*--------------------------------------
  Comment
--------------------------------------*/
.comment-article
  @extend .l-island--fence
  margin: 5px 0
  display block
  text-decoration: none;

  &:hover,&:focus
    text-decoration: none;

    .comment-article__body
      text-decoration: underline !important;

  a&
    display block
    border 1px solid transparent
    transition background-color $transition-duration, border-color $transition-duration
    margin-bottom: -1px
    text-decoration: none;

    &:hover,&:focus
      background-color: $body-bg-contrast
      border-color $gray-lighter
      text-decoration: none;

    &.state-disabled
      &:hover,&:focus
        background-color: transparent
        border-color transparent


  time
    color $gray-light
    font-size: 10px


.comment-article__author
  color $gray-light
  font-size: 10px
  &:before
    pi middle
    sprite $icon-user
    margin-right: 5px
    transform translateY(-2px)


.comment-article__body
  @extend .arrow-after
  margin-top: 5px
  font-size: 12px


/*--------------------------------------
  Tag list
--------------------------------------*/
.tag-list
  margin: 30px 0 20px
  font: 12px $font-family-secondary
  color: #c5cacc
  // emulate table
  display table
  &>*
    display table-row
    &>*
      display table-cell

  ul
    reset-list()
    hLine()
    padding-bottom: 10px

  a
    display block
    padding: 2px 5px
    border @color
    color  $gray-light
    margin-left:   5px
    margin-bottom: 5px

  .tag-list__title
    text-align: right;
    font-size: 12px
    font-weight: 400
    padding-right: 15px
    color @color
    width: 100px



/*--------------------------------------
  Tag list
--------------------------------------*/
.social-widget
  &.type-share,
  &.type-follow
    margin-bottom: 15px

    ul
      reset-box-model()
      margin: 0 0 -10px -20px;

    li
      display inline-block
      vertical-align: middle;
      margin: 0 0 10px 20px

    .social-widget__title
      font-weight: 700
      font-size: 15px


  &.type-share
    display table

    &>*
      display table-cell

    .social-widget__title
      transform translateY(-3px)
      text-align: right;
      min-width: 85px


  &.type-group-widget

    @extend .l-island
    border none

    li
      margin: 20px 0
      &:last-child
        margin-bottom: 0

    .social-widget__title
      font-size: 14px
      margin: 0 0 15px




/*--------------------------------------
  Comment controls
--------------------------------------*/
.comment-controls
  @extend .btn-group
  color $text-color
  font-weight: 700
  font-size: 12px
  text-transform: uppercase;

.comment-controls__unit
  @extend .btn
  @extend .btn-default
  height: 30px
  padding: 0 20px
  .flexbox &
    display inline-flex
    align-items center
    justify-content center

  .no-flexbox &
    line-height: 28px
    text-align: center;

.comment-controls__unit--counter
  font-size: 16px
  padding: 0
  width 70px
  arrow-bottom($text-color, 7px)

/*--------------------------------------
  Project page section
--------------------------------------*/
.project-page
  make-xs-column(10)
  make-sm-column(6)
  make-md-column(7)

.project-page__title
  font-size: 36px
  margin: 20px 0
  padding-bottom: 10px
  border-bottom: 5px solid $text-color


/*--------------------------------------
  Encyclopedia section
--------------------------------------*/
.encyclopedia-section__title
  font-size: 38px
  margin: 0

.encyclopedia-section
  @extend .l-island
  border none
  margin-left: 10px
  margin-right: 10px
  position relative
  //border emulate
  &:before,&:after
    pb(bottom left)
    size 100% 1px
    background-color: $gray-light
    .csstransforms &
      transform translateX(-10px)
      width: calc(100% \+ 20px)

  &:before
    top 0

  header
    jLine()
    padding: 15px 0
    h3
      margin: 0

  h3, dt
    font-size: 18px

  h3, dl
    margin: 20px 0 15px

  dl.line
    hLine()
    dt
      margin-right: 20px

  .encyclopedia-section__body
    display none


  &.state-active

    .encyclopedia-section__body
      display block



.encyclopedia-section__toggler-state
  font-size: 12px
  text-transform: uppercase;
  border $gray-light
  padding: 3px 10px
  background-color: transparent
  //make arrow
  .csstransforms &
    position relative
    padding-right: 60px
    &:before
      pb(right 10px top 50%)
      sprite $arrow-toggle
      trans transform
      transform rotate(-180deg) translateY(50%)

    &.state-active:before
      transform rotate(0) translateY(-50%)


/*--------------------------------------
  Pagination
--------------------------------------*/
.pagination
  position relative
  border-top: 1px solid $gray-light
  border-bottom: 1px solid $gray-light
  margin: 0
  padding: 40px 15px

  a
    margin: 0 20px
    trans all

  li:first-child
    a
      margin-left: 0

  li:last-child
    a
      margin-right: 0

  .active
    transform scale(1.25)

  .flexbox &
    display flex
    justify-content space-between


.pagination__ellipsis
  &>*
    background-color: transparent !important
    border-color: transparent !important
    text-align: center;
    &,&:hover,&:focus,&:active
      color $text-color !important

  .flexbox &
    flex: 1;


/*--------------------------------------
  Subject elements
--------------------------------------*/
.btn-subject-show-more
  @extend .l-island
  @extend .btn
  @extend .center-block
  make-xs-column(7)
  font-weight: 400
  border-width 1px
  margin-top: 10px
  margin-bottom: 10px
  padding: 5px 10px
  text-align: center;
  text-transform: uppercase;
  font-size: 12px
  trans background-color

  &:hover,&:focus
    background-color darken($body-bg-contrast, 10%)



