body
  //fix for unexpected scrolling: don't affect content
  overflow-x hidden

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.l-header
  background-color: $body-bg-contrast
  border-bottom: 1px solid $gray-light
  padding: 10px 0 15px


.l-header__main
  make-row()
  border-top: 10px solid #51525c

  +b($media-max-phone)
    border-top none


.l-header__main__row
  margin: 12px 0
  make-row()

/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.l-footer
  background-color: $body-bg-contrast
  padding-bottom: 15px
  margin-top: 20px

.l-footer__main
  make-row()
  border-top: 10px solid #51525c

  +b($media-tablet)
    margin-bottom: 15px


.l-footer__btm
  make-row()
  position relative
  border-top: 1px solid $gray-light
  color: $gray-light;
  margin-top: 10px
  padding-top: 15px
  font-size: 12px
  line-height: 1.2;

  &>*
    make-lg-column(5)
    make-sm-column(6)

  p
    margin: 0

  a
    color $gray
    text-decoration: underline;
    &:hover,&:focus
      text-decoration: none;




/*------------------------------------*\
    MAIN
\*------------------------------------*/
.l-main
  position relative

.social-widgets-list
  @extend .l-island
  border none

  li
    margin: 20px 0
    &:last-child
      margin-bottom: 0

.social-widgets-list__title
  font-size: 14px
  font-weight: bold
  margin: 0 0 15px


/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/
.logo
  display block
  width: 100%
  margin-top: 10px
  text-align: center;

  img
    display inline-block
    max-width: 100%

  &:hover,&:focus
    text-decoration: none;



.widget-date
  make-xs-column(5)
  make-lg-column(2)
  font-size: 11px;
  color: $text-color


.widget-weather
  make-xs-column(5)
  make-lg-column(2.75)
  hLine()
  font-size: 11px;
  color: $gray-light

$weather-types = day $weather-day,
                 night $weather-night

for $item in $weather-types
  .widget-weather__{$item[0]}
    color: $text-color;
    &:before
      pi middle
      position relative
      top -3px
      margin: 0 2px 0 5px
      sprite $item[1]




.widget-currency
  hLine()
  color: $gray-light
  font-size: 12px
  @extend .hidden-xs
  make-lg-column(5.25)
  +b($media-tablet)
    make-row()

  &>*
    make-xs-column(5)

$available-currencies = dollar $currency-dollar,
                        euro   $currency-euro,
                        rouble $currency-rouble

for $item in $available-currencies
  .widget-currency__{$item[0]}
    &:after
      pi middle
      position relative
      top -1px
      sprite: $item[1]

$exchange-fluctuations = up down

for $item in $exchange-fluctuations
  .widget-currency__exchange--{$item}
    &:before
      pi middle
      position relative
      top -2px
      @extend .caret
      margin-left: 5px
      border-left-width  4px
      border-right-width 4px

    if $item == up
      color $brand-success
      &:before
        transform rotate(180deg)

    else if $item == down
      color $brand-danger



.project-nav
  color $gray-light
  font-size: 11px
  line-height: 30px
  text-transform: uppercase;

  ul
    reset-list()

  li
    display inline-block
    margin-right: 25px

  a
    color inherit

  .rss
    &:before
      pi()
      sprite: $icon-rss
      margin-right: 2px

  .l-header &
    make-sm-column(9)
    make-lg-column(5)
    @extend .hidden-xs

  .l-footer &
    position relative
    top 59px


  +b($media-tablet)

    ul
      jLine()

    li
      hide-except(1..5, inline-block)
      margin: 0

    .l-footer &
      top 52px


  +b($media-max-phone)

    .l-footer &
      top 0

      ul
        text-align: center;

      li
        hide-except(1..5, inline-block)
        margin: 0 10px


.project-search
  margin: 0
  make-sm-column(1)
  make-lg-column(5)
  size: 320px 30px
  position relative

  &:after
    pb(left 15px top 50%)
    sprite $icon-search
    transform translateY(-50%)
    pointer-events: none

  input
    size 100% inherit
    @extend .form-control
    background-color: $body-bg-contrast
    padding: 0 30px

  button
    absolute right 20px top 50%
    transform translateY(-50%)
    background-color: transparent
    @extend .text-hide
    sprite $icon-enter

  +b($media-tablet)
    padding: 0
    border $gray-light
    cursor pointer

    &:after
      left: 50%
      transform translate(-50%, -50%)

    input
      width: 0
      border-width 0
      padding: 0
      float: right

    button
      display none


    &.state-active
      border-color transparent
      cursor default

      &:after
        left -320px
        transform translate(0, -50%)

      input
        width: 360px
        padding: 0 30px
        border-width 1px

      button
        display block
        right 10px // because padding removed

  +b($media-max-phone)
    width: 320px
    margin: 0 auto




.set-region
  make-row()
  margin: 0
  font-weight: 700
  ul
    reset-list()

  li
    display inline-block
    margin-right: 10px
    margin-bottom: 15px

  a
    pressable()
    display block
    padding: 5px 10px
    color inherit
    border $input-border
    border-radius 1px


  .l-footer &
    @extend .hidden-sm
    @extend .hidden-xs


.project-catalog
  make-row()
  padding: 5px 0
  text-transform: uppercase;
  font-size: 17px
  font-weight: 700

  ul
    reset-list()

  li
    margin-left: 25px
    display inline-block

  a
    color: inherit;


  +b($media-max-phone)

    .l-footer &

      li
        hide-except(1..2, inline-block)



.web-counters
  reset-list()
  width: 280px
  padding: 0
  margin: 10px 0

  li
    display inline-block
    size 90px 30px
    margin-top: 4px

.bnr-wrap
  margin: 20px 0
  make-row()

  img
    img-responsive()