.expert-full
  text-align: center;
  font-size: 12px

  p
    margin: 0

  .expert-full__section
    @extend .l-island--fence
    margin: 0 0 3px
    padding: 15px

  .expert-full__photo
    border-radius 50%
    display block
    size 75px
    margin: 0 auto 5px;

  .expert-full__label
    @extend .tag
    width: 100px
    margin: 5px auto;
    text-align: center;
    cursor default

  .expert-full__name
    font-size: 14px
    margin: 5px 0

  .expert-full__about
    h3
      font-size: 12px
      margin: 15px 0 0

    ul
      @extend .reset-list

    li
      display inline


  .expert-full__author-articles

    h2
      margin: 0 0 10px

    ul
      @extend .reset-list

    li
      margin: 15px 0

      a
        font-weight: 700
        font-size: 13px
        &:hover,&:focus
          text-decoration: underline !important

    time
      margin: 0