/*------------------------------------*\
  NEWS SECTION: header section 2 (banners)
\*------------------------------------*/
.news-section
  position relative

  ul
    reset-list()

  .btn-serv-wrap
    margin-bottom: 20px
    padding: 0 10px



  /*------------------------------------*\
    TYPE: header section 1
  \*------------------------------------*/
  &.type-header-section-1
    make-row()
    @extend .hidden-xs
    margin-top: 20px
    margin-bottom: 20px

    li
      make-sm-column(3.33)
      make-md-column(2)

      +b($media-tablet)
        hide-except(1..3)


  /*------------------------------------*\
    NEWS SECTION TYPE: header section 2 (banners)
  \*------------------------------------*/
  &.type-header-section-2
    make-row()
    @extend .hidden-sm
    @extend .hidden-xs
    margin-bottom: 15px

    li
      make-xs-column(3.33)

    .news-article__header
      display block
      width: 100%

    .news-article__title
      font-size: 14px






  /*------------------------------------*\
    NEWS SECTION TYPE: Important materials
  \*------------------------------------*/
  &.type-important
    @extend .l-island
    margin-left: 0
    margin-right: 0
    padding: 0
    border-left: none
    border-right none

    .news-section__title
      padding-top: 20px
      padding-bottom: 20px

    ul
      make-row()
      margin-bottom: 20px

    li
      make-xs-column(5)
      make-sm-column(3.33)
      make-md-column(2)

      +b($media-tablet)
        hide-except(1..3)

      +b($media-max-phone)
        hide-except(1..2)

    .news-article
      &:hover,&:focus
        background-color darken($body-bg-contrast, 10%)

    time
      display block
      margin: 5px 0

    .news-article__title
      font-size: 14px
      margin: 5px 0

    .news-article__theme
      font-size: 12px
      color $gray-light
      text-transform: uppercase;
      margin: 5px 0

    .news-article__body
      font-size: 12px

    .bnr-wrap
      hLine()
      text-align: center;
      margin: 20px 0

    .news-section__footer
      make-row()
      margin: 20px 0

      .btn
        font-size: 12px
        border $gray-light
        font-weight: 400
        text-transform: uppercase
        padding: 6px
        make-xs-column(8)
        make-sm-column(6)
        make-md-column(4)
        center-block()
        trans background-color

        &:hover,&:focus
          background-color darken($body-bg-contrast, 10%)


  /*------------------------------------*\
    NEWS SECTION TYPE: person
  \*------------------------------------*/
  &.type-persons
    text-align: center;

    .news-article
      padding: 10px 0

      &,&:hover,&:focus
        border-top: 1px solid $gray-lighter

      &>*
        display block
        margin: 5px auto

    .news-article__photo
      overflow hidden
      border-radius: 50%
      size 110px

    .news-article__title
      font-size: 13px
      font-weight: 700

    .news-article__body
      font-size: 12px


    +b($media-max-phone)

      ul
        make-row()

      li
        make-xs-column(5)

  /*------------------------------------*\
    NEWS SECTION TYPE: project
  \*------------------------------------*/
  &.type-projects
    text-align: center;
    @extend .hidden-xs

    .news-article
      padding: 10px 0

      &,&:hover,&:focus
        border-top: 1px solid $gray-lighter

      &>*
        display block
        margin: 10px auto

    .news-article__photo
      border-radius: 50%
      overflow hidden
      size 135px

    .news-article__title
      font-size: 15px
      font-weight: 700

    .news-article__body
      font-size: 13px

    +b($media-max-phone)

      ul
        make-row()

      li
        make-xs-column(5)


  /*------------------------------------*\
    NEWS SECTION TYPE: news from partners
  \*------------------------------------*/
  &.type-from-partner
    make-md-column(10)
    @extend .hidden-xs
    border-top: 1px solid $gray-lighter
    margin: 20px 0
    padding: 15px 0

    ul
      make-row()

    li
      make-sm-column(3.33)
      make-md-column(3.33)


    .news-article
      margin: 20px 0
      padding: 10px

    .news-article__photo
      float left
      size 70px
      margin-right: 5px

    .news-article__title
      display block
      font-size: 13px
      font-weight: 700
      margin: 0 0 5px

    .news-article__body
      font-size: 13px


  /*------------------------------------*\
    NEWS SECTION TYPE: Important
  \*------------------------------------*/
  &.type-news-feed

    .news-section__title
      font-size: 16px
      color: $gray-light


/*------------------------------------*\
  NEWS SECTION components
\*------------------------------------*/
.news-section__title
  margin: 0
  font-size: 18px
  font-weight: 700
  color: $brand-primary;
  padding: 15px 10px

  a
   color inherit

  &.type-non-accented
    color: $text-color;
    font-size: 14px
    padding-top: 19px





/*------------------------------------*\
  NEWS ARTICLE
\*------------------------------------*/
.news-article
  color $text-color
  padding: 5px 10px
  display block
  border 1px solid transparent
  transition background-color $transition-duration, border-color $transition-duration
  clearfix()

  &:hover,&:focus
    border: $gray-lighter
    background-color: $body-bg-contrast

  margin-bottom: -1px
  text-decoration: none;

  &:hover,&:focus
    &,&.state-visited
      background-color: $body-bg-contrast
      border-color $gray-lighter
      &,*
        text-decoration: none !important


  time
    color: $brand-info;
    font-size: 0.75em
    font-family: $font-family-secondary;

  .attention-label
    font-family: $font-family-secondary;
    color: $brand-primary;



  /*------------------------------------*\
    NEWS ARTICLE TYPE: preview Short
  \*------------------------------------*/
  &.type-preview-S
    @extend .arrow-after
    font-weight: 700


  /*------------------------------------*\
    NEWS ARTICLE TYPE: preview Middle
  \*------------------------------------*/
  &.type-preview-M
    padding-top: 15px
    padding-bottom: 15px
    position relative
    font-size: 15px
    border-top: 1px solid $gray-light

    .news-article__photo
      size 80px 60px
      margin-right: 15px
      margin-bottom: 3px
      float left

    .news-article__title
      font-size: 15px
      margin: 0 0 5px

    .news-article__body
      font-size: 14px

    .news-article__tag
      font-size: 10px !important
      padding: 1px 3px


    aside
      margin-bottom: 5px
      hLine()


    &.state-attention

      .news-article__title
        font-weight: 700


  /*------------------------------------*\
    NEWS ARTICLE TYPE: preview Large
  \*------------------------------------*/
  &.type-preview-L
    padding-top: 10px
    padding-bottom: 10px

    time
      display block
      margin: 10px 0 5px

    .news-article__title
      font-size: 18px
      margin: 0 0 15px

    .news-article__tag
      font-weight: 700
      border-width: 2px

  /*------------------------------------*\
    NEWS ARTICLE TYPE: preview XLarge
  \*------------------------------------*/
  &.type-preview-XL
    position relative
    color $body-bg
    padding: 0

    .news-article__header
      absolute bottom left
      width: 100%;
      padding: 10px

    time
      color: $body-bg;

    .news-article__title
      font-size: 28px
      //remove inheritances from default news-aritcle__header
      margin: 0
      position static
      background none
      padding: 0

    .news-article__tag
      button-variant($body-bg, rgba(81, 81, 91, .4), $body-bg);
      absolute left 10px top 10px
      font-weight: 700
      border-width: 2px

    .news-article__counter
      display inline-block
      vertical-align: middle;
      //remove inheritances from default news-aritcle__header
      relative left top bottom right


  /*------------------------------------*\
    NEWS ARTICLE TYPE: opinion
  \*------------------------------------*/
  &.type-opinion
    @extend .l-island--fence
    padding-top: 10px
    padding-bottom: 10px
    jLine middle

    $author-photo-size = 80px

    .news-article__column-lt
      size $author-photo-size
      position relative
      border-radius 50%
      overflow hidden
      border none

      .news-article__photo
        size $author-photo-size


    .news-article__column-rt
      .csscalc &
        width s('calc(100% - %s - 10px)', $author-photo-size)

      .no-csscalc &
        width: 260px



    .news-article__author
      font-size: 11px


    .news-article__body
      font-weight: 700
      font-size: 16px

    .news-article__tag
      font-size: 10px !important
      padding-left: 3px
      padding-right: 3px

    .news-article__tag,
    .news-article__author
      &:hover,&:focus
        text-decoration: underline !important


    &:hover,&:focus
      border none
      background-color: #c5cacc

    
    &.state-visited

      .news-article__tag
        button-variant($gray-lighter, rgba(0,0,0,0), $gray-lighter);

      //mask for image
      .news-article__column-lt
        &:after
          pb(left top)
          size 100%
          background-color: rgba(200,200,200,.75)


  /*------------------------------------*\
    NEWS ARTICLE TYPE: top commented
  \*------------------------------------*/
  &.type-top-commented
    @extend .disable-article-hovers

    padding-top: 0
    padding-bottom: 0
    margin-bottom: 20px

    time
      width: 70px
      font-size: 12px


    .news-article__body
      font-weight: 700
      &:hover,&:focus
        text-decoration: underline !important;



  /*------------------------------------*\
    NEWS ARTICLE TYPE: poll
  \*------------------------------------*/
  &.type-poll
    @extend .disable-article-hovers

    .news-article__body
      @extend .l-island
      margin: 0
      padding-left: 10px
      padding-right: 10px

    .news-article__footer
      jLine bottom
      margin-top: 20px

    ul
      @extend .reset-list

    li
      margin-bottom: 10px

    .poll-item
      position relative
      margin: 0 10px 15px 35px
      border-left 1px solid #212121
      padding: 7px 0

    .poll-item-label
      display block
      padding: 5px 10px

    .poll-item-scale
      display block
      height: 30px
      img('poll-scale-bg.png')
      background-repeat repeat-x

    
    .poll-item-scale-label
      absolute right 100% top 15px
      margin-right: 5px



    .poll-party-counter
      display block
      width: 50%

      b
        display block
        font-size: 14px
        font-weight: 700


  /*------------------------------------*\
   NEWS ARTICLE TYPE: Carousel
 \*------------------------------------*/
  &.type-carousel
    position relative
    padding: 0
    background-color: #18181b

    .carousel-inner
      position relative
      padding: 0 0 110px;

    .carousel-caption
      absolute top 100% left
      padding: 15px 20px
      width 100%
      color: $body-bg;
      font-size: 16px
      font-weight: 700
      text-align: left;


    .carousel-indicators
      bottom 0
      li
        size 10px
        border none
        background-color: #8c959a
        margin: 0 7px
        &.active
          background-color: #fff
          transform scale(1.25)

    .news-article__tag
      absolute left 10px top 10px
      button-variant($body-bg, rgba(81, 81, 91, .4), $body-bg);
      font-weight: 700
      border-width: 2px

    .news-article__counter
      absolute top 185px right 10px

    .news-article__photo-total
      absolute top 186px left 10px


  /*------------------------------------*\
    NEWS ARTICLE TYPE: template
  \*------------------------------------*/
  &.type-template
    make-xs-column(10)
    make-sm-column(6)
    make-md-column(7)
    padding-top: 15px
    padding-bottom: 15px

    time
      display block
      margin-bottom: 5px

    .news-article__title
      font-size: $font-size-h1
      margin: 0 0 15px

    .news-article__subTitle
      font-size: $font-size-h2
      color: $gray-light;
      margin: 0 0 15px

    figure
      position relative
      margin-bottom: 30px

      img
        size: 100% auto

      figcaption
        position absolute

        .csscalc &
          bottom 10px
          left 10px
          width: calc(100% \- 20px)

        .no-csscalc &
          bottom 0
          left 0
          width: 100%

        display block
        color: $body-bg;
        padding: 5px 10px
        background-color: rgb(0,0,0)
        background-color: rgba(0,0,0, .6)



      small
        absolute left top 100%
        margin-top: 3px
        color $gray-light
        font-size: 10px


    .news-article__body
      font-family: $font-family-secondary;

      h2
        line-height: 1.3;

      h3
        margin-top:    20px
        margin-bottom: 10px
        
      a
        color: $brand-primary;

      blockquote
        font-family: $font-family-base;

    .news-section
      @extend .l-island

      .news-article__title
        font-size: 15px
        font-weight: 700

    .news-section__title
      font-weight: 400;
      font-size: 15px






  /*------------------------------------*\
    NEWS ARTICLE STATE: disabled (base class)
  \*------------------------------------*/
  &.state-visited
    color: $gray-lighter
    background-color: transparent

    *
      color: inherit



/*------------------------------------*\
  NEWS ARTICLE components
\*------------------------------------*/
.news-article__body
  display block
  margin: 5px 0


.news-article__header
  position relative
  color: $body-bg;

  a&
    &:hover,&:focus
      .news-article__title
        color @color
        text-decoration: underline

  .news-article__title
    absolute left bottom
    width: 100%;
    margin: 0
    padding: 10px 20px
    font-size: 16px
    font-weight: 700
    color: inherit
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);

  .news-article__photo
    size 100% auto

  .news-article__counter
    absolute right 10px bottom 10px


  .news-article__tag
    button-variant($body-bg, rgba(81, 81, 91, .4), $body-bg);
    absolute left 10px top 10px


.news-article__counter
  position relative
  min-width 25px
  text-align: center
  font-family: $font-family-secondary;
  font-size: 10px
  padding: 1px 3px
  margin: 0 5px
  clear both
  text-decoration: none;
  //color palette
  color $body-bg
  background-color  $text-color
  arrow-bottom $text-color

  &:hover,&:focus
    $hover-color =    lighten($text-color, 15%)
    text-decoration: none;
    color $body-bg
    background-color: $hover-color
    arrow-bottom $hover-color

  &.type-inverted-colors,
  .news-article__header &
    background-color: $body-bg;
    arrow-bottom: $body-bg;
    color $text-color

    &:hover,&:focus
      $hover-color = darken($body-bg, 10%)
      background-color: $hover-color
      arrow-bottom $hover-color



.news-article__title
  display: block
  a,a&
    @extend .reset-link-defaults
    &:hover,&:focus
      text-decoration: underline;

.news-article__tag
  @extend .btn
  button-variant($text-color, rgba(0,0,0,0), $text-color);
  border-width 1px
  font-weight: normal
  padding-left:  4px
  padding-right: 4px
  text-transform: uppercase;
  display inline-block !important
  font-size: 11px !important;
  a,a&
    @extend .reset-link-defaults


.news-article__photo
  display block
  &, img
    @extend .img-responsive

.news-article__photo-total
  @extend .reset-link-defaults
  display block
  font-size: 11px
  width: 22px
  height: 16px;
  line-height: @height;
  text-align: center;
  border 1px solid $body-bg
  border-radius 0 1px 1px 0
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,.5)
  margin-left: 25px
  color $body-bg
  //icon
  &:after
    pb(right 100% bottom -1px)
    sprite $icon-photo
  //bg for icon
  &:before
    pb(right 100% bottom -1px)
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,.5)
    size: 25px 16px;

  &:hover,&:focus
    color $body-bg
    background-color: rgba(0,0,0,.8)
    &:before
      background-color @background-color
