$currency-dollar_x = 42px;
$currency-dollar_y = 0px;
$currency-dollar_offset_x = -42px;
$currency-dollar_offset_y = 0px;
$currency-dollar_width = 12px;
$currency-dollar_height = 12px;
$currency-dollar_total_width = 54px;
$currency-dollar_total_height = 51px;
$currency-dollar_image = '../img/ural-polit-icons.png';
$currency-dollar = 42px 0px -42px 0px 12px 12px 54px 51px '../img/ural-polit-icons.png';
$currency-euro_x = 42px;
$currency-euro_y = 14px;
$currency-euro_offset_x = -42px;
$currency-euro_offset_y = -14px;
$currency-euro_width = 12px;
$currency-euro_height = 12px;
$currency-euro_total_width = 54px;
$currency-euro_total_height = 51px;
$currency-euro_image = '../img/ural-polit-icons.png';
$currency-euro = 42px 14px -42px -14px 12px 12px 54px 51px '../img/ural-polit-icons.png';
$currency-rouble_x = 42px;
$currency-rouble_y = 28px;
$currency-rouble_offset_x = -42px;
$currency-rouble_offset_y = -28px;
$currency-rouble_width = 12px;
$currency-rouble_height = 12px;
$currency-rouble_total_width = 54px;
$currency-rouble_total_height = 51px;
$currency-rouble_image = '../img/ural-polit-icons.png';
$currency-rouble = 42px 28px -42px -28px 12px 12px 54px 51px '../img/ural-polit-icons.png';
$icon-enter_x = 20px;
$icon-enter_y = 23px;
$icon-enter_offset_x = -20px;
$icon-enter_offset_y = -23px;
$icon-enter_width = 15px;
$icon-enter_height = 14px;
$icon-enter_total_width = 54px;
$icon-enter_total_height = 51px;
$icon-enter_image = '../img/ural-polit-icons.png';
$icon-enter = 20px 23px -20px -23px 15px 14px 54px 51px '../img/ural-polit-icons.png';
$icon-rss_x = 0px;
$icon-rss_y = 42px;
$icon-rss_offset_x = 0px;
$icon-rss_offset_y = -42px;
$icon-rss_width = 9px;
$icon-rss_height = 9px;
$icon-rss_total_width = 54px;
$icon-rss_total_height = 51px;
$icon-rss_image = '../img/ural-polit-icons.png';
$icon-rss = 0px 42px 0px -42px 9px 9px 54px 51px '../img/ural-polit-icons.png';
$icon-search_x = 0px;
$icon-search_y = 0px;
$icon-search_offset_x = 0px;
$icon-search_offset_y = 0px;
$icon-search_width = 20px;
$icon-search_height = 21px;
$icon-search_total_width = 54px;
$icon-search_total_height = 51px;
$icon-search_image = '../img/ural-polit-icons.png';
$icon-search = 0px 0px 0px 0px 20px 21px 54px 51px '../img/ural-polit-icons.png';
$weather-day_x = 22px;
$weather-day_y = 0px;
$weather-day_offset_x = -22px;
$weather-day_offset_y = 0px;
$weather-day_width = 18px;
$weather-day_height = 17px;
$weather-day_total_width = 54px;
$weather-day_total_height = 51px;
$weather-day_image = '../img/ural-polit-icons.png';
$weather-day = 22px 0px -22px 0px 18px 17px 54px 51px '../img/ural-polit-icons.png';
$weather-night_x = 0px;
$weather-night_y = 23px;
$weather-night_offset_x = 0px;
$weather-night_offset_y = -23px;
$weather-night_width = 18px;
$weather-night_height = 17px;
$weather-night_total_width = 54px;
$weather-night_total_height = 51px;
$weather-night_image = '../img/ural-polit-icons.png';
$weather-night = 0px 23px 0px -23px 18px 17px 54px 51px '../img/ural-polit-icons.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
