<article class="news-article  type-opinion">
  <header class="l-jLine--middle">
    <aside class="news-article__column-lt">
      <a href="#"><img class="news-article__photo" src="http://lorempixel.com/g/80/80/people/3" alt="Place Kitten" /></a>
    </aside>
    <div class="news-article__column-rt  l-hLine">
      <a href="#" class="news-article__tag">Личный взгляд</a>
      <a href="#" class="news-article__author">Константин Константинопольский</a>
    </div>
  </header>
  <a href="#" class="news-article__body">
    Со дня на день стоит ждать падения
    стоимости акций Челябинского
    трубопрокатного завода
  </a>
</article>