$arrow-toggle_x = 0px;
$arrow-toggle_y = 103px;
$arrow-toggle_offset_x = 0px;
$arrow-toggle_offset_y = -103px;
$arrow-toggle_width = 16px;
$arrow-toggle_height = 8px;
$arrow-toggle_total_width = 123px;
$arrow-toggle_total_height = 111px;
$arrow-toggle_image = '../img/ural-polit-icons.png';
$arrow-toggle = 0px 103px 0px -103px 16px 8px 123px 111px '../img/ural-polit-icons.png';
$btn-show-menu_x = 76px;
$btn-show-menu_y = 0px;
$btn-show-menu_offset_x = -76px;
$btn-show-menu_offset_y = 0px;
$btn-show-menu_width = 33px;
$btn-show-menu_height = 29px;
$btn-show-menu_total_width = 123px;
$btn-show-menu_total_height = 111px;
$btn-show-menu_image = '../img/ural-polit-icons.png';
$btn-show-menu = 76px 0px -76px 0px 33px 29px 123px 111px '../img/ural-polit-icons.png';
$carousel-next-dark_x = 57px;
$carousel-next-dark_y = 0px;
$carousel-next-dark_offset_x = -57px;
$carousel-next-dark_offset_y = 0px;
$carousel-next-dark_width = 17px;
$carousel-next-dark_height = 60px;
$carousel-next-dark_total_width = 123px;
$carousel-next-dark_total_height = 111px;
$carousel-next-dark_image = '../img/ural-polit-icons.png';
$carousel-next-dark = 57px 0px -57px 0px 17px 60px 123px 111px '../img/ural-polit-icons.png';
$carousel-next-light_x = 0px;
$carousel-next-light_y = 0px;
$carousel-next-light_offset_x = 0px;
$carousel-next-light_offset_y = 0px;
$carousel-next-light_width = 17px;
$carousel-next-light_height = 60px;
$carousel-next-light_total_width = 123px;
$carousel-next-light_total_height = 111px;
$carousel-next-light_image = '../img/ural-polit-icons.png';
$carousel-next-light = 0px 0px 0px 0px 17px 60px 123px 111px '../img/ural-polit-icons.png';
$carousel-prev-dark_x = 19px;
$carousel-prev-dark_y = 0px;
$carousel-prev-dark_offset_x = -19px;
$carousel-prev-dark_offset_y = 0px;
$carousel-prev-dark_width = 17px;
$carousel-prev-dark_height = 60px;
$carousel-prev-dark_total_width = 123px;
$carousel-prev-dark_total_height = 111px;
$carousel-prev-dark_image = '../img/ural-polit-icons.png';
$carousel-prev-dark = 19px 0px -19px 0px 17px 60px 123px 111px '../img/ural-polit-icons.png';
$carousel-prev-light_x = 38px;
$carousel-prev-light_y = 0px;
$carousel-prev-light_offset_x = -38px;
$carousel-prev-light_offset_y = 0px;
$carousel-prev-light_width = 17px;
$carousel-prev-light_height = 60px;
$carousel-prev-light_total_width = 123px;
$carousel-prev-light_total_height = 111px;
$carousel-prev-light_image = '../img/ural-polit-icons.png';
$carousel-prev-light = 38px 0px -38px 0px 17px 60px 123px 111px '../img/ural-polit-icons.png';
$currency-dollar_x = 111px;
$currency-dollar_y = 42px;
$currency-dollar_offset_x = -111px;
$currency-dollar_offset_y = -42px;
$currency-dollar_width = 12px;
$currency-dollar_height = 12px;
$currency-dollar_total_width = 123px;
$currency-dollar_total_height = 111px;
$currency-dollar_image = '../img/ural-polit-icons.png';
$currency-dollar = 111px 42px -111px -42px 12px 12px 123px 111px '../img/ural-polit-icons.png';
$currency-euro_x = 111px;
$currency-euro_y = 28px;
$currency-euro_offset_x = -111px;
$currency-euro_offset_y = -28px;
$currency-euro_width = 12px;
$currency-euro_height = 12px;
$currency-euro_total_width = 123px;
$currency-euro_total_height = 111px;
$currency-euro_image = '../img/ural-polit-icons.png';
$currency-euro = 111px 28px -111px -28px 12px 12px 123px 111px '../img/ural-polit-icons.png';
$currency-rouble_x = 111px;
$currency-rouble_y = 14px;
$currency-rouble_offset_x = -111px;
$currency-rouble_offset_y = -14px;
$currency-rouble_width = 12px;
$currency-rouble_height = 12px;
$currency-rouble_total_width = 123px;
$currency-rouble_total_height = 111px;
$currency-rouble_image = '../img/ural-polit-icons.png';
$currency-rouble = 111px 14px -111px -14px 12px 12px 123px 111px '../img/ural-polit-icons.png';
$icon-enter_x = 92px;
$icon-enter_y = 84px;
$icon-enter_offset_x = -92px;
$icon-enter_offset_y = -84px;
$icon-enter_width = 15px;
$icon-enter_height = 14px;
$icon-enter_total_width = 123px;
$icon-enter_total_height = 111px;
$icon-enter_image = '../img/ural-polit-icons.png';
$icon-enter = 92px 84px -92px -84px 15px 14px 123px 111px '../img/ural-polit-icons.png';
$icon-eye_x = 68px;
$icon-eye_y = 84px;
$icon-eye_offset_x = -68px;
$icon-eye_offset_y = -84px;
$icon-eye_width = 22px;
$icon-eye_height = 14px;
$icon-eye_total_width = 123px;
$icon-eye_total_height = 111px;
$icon-eye_image = '../img/ural-polit-icons.png';
$icon-eye = 68px 84px -68px -84px 22px 14px 123px 111px '../img/ural-polit-icons.png';
$icon-mention_x = 98px;
$icon-mention_y = 31px;
$icon-mention_offset_x = -98px;
$icon-mention_offset_y = -31px;
$icon-mention_width = 10px;
$icon-mention_height = 20px;
$icon-mention_total_width = 123px;
$icon-mention_total_height = 111px;
$icon-mention_image = '../img/ural-polit-icons.png';
$icon-mention = 98px 31px -98px -31px 10px 20px 123px 111px '../img/ural-polit-icons.png';
$icon-photo_x = 79px;
$icon-photo_y = 62px;
$icon-photo_offset_x = -79px;
$icon-photo_offset_y = -62px;
$icon-photo_width = 25px;
$icon-photo_height = 18px;
$icon-photo_total_width = 123px;
$icon-photo_total_height = 111px;
$icon-photo_image = '../img/ural-polit-icons.png';
$icon-photo = 79px 62px -79px -62px 25px 18px 123px 111px '../img/ural-polit-icons.png';
$icon-rss_x = 111px;
$icon-rss_y = 56px;
$icon-rss_offset_x = -111px;
$icon-rss_offset_y = -56px;
$icon-rss_width = 9px;
$icon-rss_height = 9px;
$icon-rss_total_width = 123px;
$icon-rss_total_height = 111px;
$icon-rss_image = '../img/ural-polit-icons.png';
$icon-rss = 111px 56px -111px -56px 9px 9px 123px 111px '../img/ural-polit-icons.png';
$icon-search_x = 76px;
$icon-search_y = 31px;
$icon-search_offset_x = -76px;
$icon-search_offset_y = -31px;
$icon-search_width = 20px;
$icon-search_height = 21px;
$icon-search_total_width = 123px;
$icon-search_total_height = 111px;
$icon-search_image = '../img/ural-polit-icons.png';
$icon-search = 76px 31px -76px -31px 20px 21px 123px 111px '../img/ural-polit-icons.png';
$icon-thumbs-down_x = 54px;
$icon-thumbs-down_y = 84px;
$icon-thumbs-down_offset_x = -54px;
$icon-thumbs-down_offset_y = -84px;
$icon-thumbs-down_width = 12px;
$icon-thumbs-down_height = 17px;
$icon-thumbs-down_total_width = 123px;
$icon-thumbs-down_total_height = 111px;
$icon-thumbs-down_image = '../img/ural-polit-icons.png';
$icon-thumbs-down = 54px 84px -54px -84px 12px 17px 123px 111px '../img/ural-polit-icons.png';
$icon-thumbs-up_x = 20px;
$icon-thumbs-up_y = 84px;
$icon-thumbs-up_offset_x = -20px;
$icon-thumbs-up_offset_y = -84px;
$icon-thumbs-up_width = 12px;
$icon-thumbs-up_height = 17px;
$icon-thumbs-up_total_width = 123px;
$icon-thumbs-up_total_height = 111px;
$icon-thumbs-up_image = '../img/ural-polit-icons.png';
$icon-thumbs-up = 20px 84px -20px -84px 12px 17px 123px 111px '../img/ural-polit-icons.png';
$icon-user_x = 111px;
$icon-user_y = 0px;
$icon-user_offset_x = -111px;
$icon-user_offset_y = 0px;
$icon-user_width = 12px;
$icon-user_height = 12px;
$icon-user_total_width = 123px;
$icon-user_total_height = 111px;
$icon-user_image = '../img/ural-polit-icons.png';
$icon-user = 111px 0px -111px 0px 12px 12px 123px 111px '../img/ural-polit-icons.png';
$input-checkbox_x = 44px;
$input-checkbox_y = 62px;
$input-checkbox_offset_x = -44px;
$input-checkbox_offset_y = -62px;
$input-checkbox_width = 20px;
$input-checkbox_height = 20px;
$input-checkbox_total_width = 123px;
$input-checkbox_total_height = 111px;
$input-checkbox_image = '../img/ural-polit-icons.png';
$input-checkbox = 44px 62px -44px -62px 20px 20px 123px 111px '../img/ural-polit-icons.png';
$input-choise_x = 22px;
$input-choise_y = 62px;
$input-choise_offset_x = -22px;
$input-choise_offset_y = -62px;
$input-choise_width = 20px;
$input-choise_height = 20px;
$input-choise_total_width = 123px;
$input-choise_total_height = 111px;
$input-choise_image = '../img/ural-polit-icons.png';
$input-choise = 22px 62px -22px -62px 20px 20px 123px 111px '../img/ural-polit-icons.png';
$input-radio_x = 0px;
$input-radio_y = 62px;
$input-radio_offset_x = 0px;
$input-radio_offset_y = -62px;
$input-radio_width = 20px;
$input-radio_height = 20px;
$input-radio_total_width = 123px;
$input-radio_total_height = 111px;
$input-radio_image = '../img/ural-polit-icons.png';
$input-radio = 0px 62px 0px -62px 20px 20px 123px 111px '../img/ural-polit-icons.png';
$opinion-section-article-pointer_x = 66px;
$opinion-section-article-pointer_y = 62px;
$opinion-section-article-pointer_offset_x = -66px;
$opinion-section-article-pointer_offset_y = -62px;
$opinion-section-article-pointer_width = 11px;
$opinion-section-article-pointer_height = 20px;
$opinion-section-article-pointer_total_width = 123px;
$opinion-section-article-pointer_total_height = 111px;
$opinion-section-article-pointer_image = '../img/ural-polit-icons.png';
$opinion-section-article-pointer = 66px 62px -66px -62px 11px 20px 123px 111px '../img/ural-polit-icons.png';
$weather-day_x = 0px;
$weather-day_y = 84px;
$weather-day_offset_x = 0px;
$weather-day_offset_y = -84px;
$weather-day_width = 18px;
$weather-day_height = 17px;
$weather-day_total_width = 123px;
$weather-day_total_height = 111px;
$weather-day_image = '../img/ural-polit-icons.png';
$weather-day = 0px 84px 0px -84px 18px 17px 123px 111px '../img/ural-polit-icons.png';
$weather-night_x = 34px;
$weather-night_y = 84px;
$weather-night_offset_x = -34px;
$weather-night_offset_y = -84px;
$weather-night_width = 18px;
$weather-night_height = 17px;
$weather-night_total_width = 123px;
$weather-night_total_height = 111px;
$weather-night_image = '../img/ural-polit-icons.png';
$weather-night = 34px 84px -34px -84px 18px 17px 123px 111px '../img/ural-polit-icons.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
