$arrow-toggle_x = 0px;
$arrow-toggle_y = 61px;
$arrow-toggle_offset_x = 0px;
$arrow-toggle_offset_y = -61px;
$arrow-toggle_width = 16px;
$arrow-toggle_height = 8px;
$arrow-toggle_total_width = 78px;
$arrow-toggle_total_height = 69px;
$arrow-toggle_image = '../img/ural-polit-icons.png';
$arrow-toggle = 0px 61px 0px -61px 16px 8px 78px 69px '../img/ural-polit-icons.png';
$currency-dollar_x = 17px;
$currency-dollar_y = 45px;
$currency-dollar_offset_x = -17px;
$currency-dollar_offset_y = -45px;
$currency-dollar_width = 12px;
$currency-dollar_height = 12px;
$currency-dollar_total_width = 78px;
$currency-dollar_total_height = 69px;
$currency-dollar_image = '../img/ural-polit-icons.png';
$currency-dollar = 17px 45px -17px -45px 12px 12px 78px 69px '../img/ural-polit-icons.png';
$currency-euro_x = 66px;
$currency-euro_y = 0px;
$currency-euro_offset_x = -66px;
$currency-euro_offset_y = 0px;
$currency-euro_width = 12px;
$currency-euro_height = 12px;
$currency-euro_total_width = 78px;
$currency-euro_total_height = 69px;
$currency-euro_image = '../img/ural-polit-icons.png';
$currency-euro = 66px 0px -66px 0px 12px 12px 78px 69px '../img/ural-polit-icons.png';
$currency-rouble_x = 45px;
$currency-rouble_y = 45px;
$currency-rouble_offset_x = -45px;
$currency-rouble_offset_y = -45px;
$currency-rouble_width = 12px;
$currency-rouble_height = 12px;
$currency-rouble_total_width = 78px;
$currency-rouble_total_height = 69px;
$currency-rouble_image = '../img/ural-polit-icons.png';
$currency-rouble = 45px 45px -45px -45px 12px 12px 78px 69px '../img/ural-polit-icons.png';
$icon-enter_x = 0px;
$icon-enter_y = 45px;
$icon-enter_offset_x = 0px;
$icon-enter_offset_y = -45px;
$icon-enter_width = 15px;
$icon-enter_height = 14px;
$icon-enter_total_width = 78px;
$icon-enter_total_height = 69px;
$icon-enter_image = '../img/ural-polit-icons.png';
$icon-enter = 0px 45px 0px -45px 15px 14px 78px 69px '../img/ural-polit-icons.png';
$icon-rss_x = 66px;
$icon-rss_y = 14px;
$icon-rss_offset_x = -66px;
$icon-rss_offset_y = -14px;
$icon-rss_width = 9px;
$icon-rss_height = 9px;
$icon-rss_total_width = 78px;
$icon-rss_total_height = 69px;
$icon-rss_image = '../img/ural-polit-icons.png';
$icon-rss = 66px 14px -66px -14px 9px 9px 78px 69px '../img/ural-polit-icons.png';
$icon-search_x = 0px;
$icon-search_y = 0px;
$icon-search_offset_x = 0px;
$icon-search_offset_y = 0px;
$icon-search_width = 20px;
$icon-search_height = 21px;
$icon-search_total_width = 78px;
$icon-search_total_height = 69px;
$icon-search_image = '../img/ural-polit-icons.png';
$icon-search = 0px 0px 0px 0px 20px 21px 78px 69px '../img/ural-polit-icons.png';
$icon-user_x = 31px;
$icon-user_y = 45px;
$icon-user_offset_x = -31px;
$icon-user_offset_y = -45px;
$icon-user_width = 12px;
$icon-user_height = 12px;
$icon-user_total_width = 78px;
$icon-user_total_height = 69px;
$icon-user_image = '../img/ural-polit-icons.png';
$icon-user = 31px 45px -31px -45px 12px 12px 78px 69px '../img/ural-polit-icons.png';
$input-checkbox_x = 0px;
$input-checkbox_y = 23px;
$input-checkbox_offset_x = 0px;
$input-checkbox_offset_y = -23px;
$input-checkbox_width = 20px;
$input-checkbox_height = 20px;
$input-checkbox_total_width = 78px;
$input-checkbox_total_height = 69px;
$input-checkbox_image = '../img/ural-polit-icons.png';
$input-checkbox = 0px 23px 0px -23px 20px 20px 78px 69px '../img/ural-polit-icons.png';
$input-choise_x = 44px;
$input-choise_y = 0px;
$input-choise_offset_x = -44px;
$input-choise_offset_y = 0px;
$input-choise_width = 20px;
$input-choise_height = 20px;
$input-choise_total_width = 78px;
$input-choise_total_height = 69px;
$input-choise_image = '../img/ural-polit-icons.png';
$input-choise = 44px 0px -44px 0px 20px 20px 78px 69px '../img/ural-polit-icons.png';
$input-radio_x = 22px;
$input-radio_y = 0px;
$input-radio_offset_x = -22px;
$input-radio_offset_y = 0px;
$input-radio_width = 20px;
$input-radio_height = 20px;
$input-radio_total_width = 78px;
$input-radio_total_height = 69px;
$input-radio_image = '../img/ural-polit-icons.png';
$input-radio = 22px 0px -22px 0px 20px 20px 78px 69px '../img/ural-polit-icons.png';
$weather-day_x = 22px;
$weather-day_y = 23px;
$weather-day_offset_x = -22px;
$weather-day_offset_y = -23px;
$weather-day_width = 18px;
$weather-day_height = 17px;
$weather-day_total_width = 78px;
$weather-day_total_height = 69px;
$weather-day_image = '../img/ural-polit-icons.png';
$weather-day = 22px 23px -22px -23px 18px 17px 78px 69px '../img/ural-polit-icons.png';
$weather-night_x = 42px;
$weather-night_y = 23px;
$weather-night_offset_x = -42px;
$weather-night_offset_y = -23px;
$weather-night_width = 18px;
$weather-night_height = 17px;
$weather-night_total_width = 78px;
$weather-night_total_height = 69px;
$weather-night_image = '../img/ural-polit-icons.png';
$weather-night = 42px 23px -42px -23px 18px 17px 78px 69px '../img/ural-polit-icons.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
