$arrow-toggle_x = 0px;
$arrow-toggle_y = 84px;
$arrow-toggle_offset_x = 0px;
$arrow-toggle_offset_y = -84px;
$arrow-toggle_width = 16px;
$arrow-toggle_height = 8px;
$arrow-toggle_total_width = 107px;
$arrow-toggle_total_height = 92px;
$arrow-toggle_image = '../img/ural-polit-icons.png';
$arrow-toggle = 0px 84px 0px -84px 16px 8px 107px 92px '../img/ural-polit-icons.png';
$btn-show-menu_x = 38px;
$btn-show-menu_y = 0px;
$btn-show-menu_offset_x = -38px;
$btn-show-menu_offset_y = 0px;
$btn-show-menu_width = 33px;
$btn-show-menu_height = 29px;
$btn-show-menu_total_width = 107px;
$btn-show-menu_total_height = 92px;
$btn-show-menu_image = '../img/ural-polit-icons.png';
$btn-show-menu = 38px 0px -38px 0px 33px 29px 107px 92px '../img/ural-polit-icons.png';
$carousel-next-dark_x = 19px;
$carousel-next-dark_y = 0px;
$carousel-next-dark_offset_x = -19px;
$carousel-next-dark_offset_y = 0px;
$carousel-next-dark_width = 17px;
$carousel-next-dark_height = 60px;
$carousel-next-dark_total_width = 107px;
$carousel-next-dark_total_height = 92px;
$carousel-next-dark_image = '../img/ural-polit-icons.png';
$carousel-next-dark = 19px 0px -19px 0px 17px 60px 107px 92px '../img/ural-polit-icons.png';
$carousel-prev-dark_x = 0px;
$carousel-prev-dark_y = 0px;
$carousel-prev-dark_offset_x = 0px;
$carousel-prev-dark_offset_y = 0px;
$carousel-prev-dark_width = 17px;
$carousel-prev-dark_height = 60px;
$carousel-prev-dark_total_width = 107px;
$carousel-prev-dark_total_height = 92px;
$carousel-prev-dark_image = '../img/ural-polit-icons.png';
$carousel-prev-dark = 0px 0px 0px 0px 17px 60px 107px 92px '../img/ural-polit-icons.png';
$currency-dollar_x = 95px;
$currency-dollar_y = 42px;
$currency-dollar_offset_x = -95px;
$currency-dollar_offset_y = -42px;
$currency-dollar_width = 12px;
$currency-dollar_height = 12px;
$currency-dollar_total_width = 107px;
$currency-dollar_total_height = 92px;
$currency-dollar_image = '../img/ural-polit-icons.png';
$currency-dollar = 95px 42px -95px -42px 12px 12px 107px 92px '../img/ural-polit-icons.png';
$currency-euro_x = 95px;
$currency-euro_y = 28px;
$currency-euro_offset_x = -95px;
$currency-euro_offset_y = -28px;
$currency-euro_width = 12px;
$currency-euro_height = 12px;
$currency-euro_total_width = 107px;
$currency-euro_total_height = 92px;
$currency-euro_image = '../img/ural-polit-icons.png';
$currency-euro = 95px 28px -95px -28px 12px 12px 107px 92px '../img/ural-polit-icons.png';
$currency-rouble_x = 95px;
$currency-rouble_y = 14px;
$currency-rouble_offset_x = -95px;
$currency-rouble_offset_y = -14px;
$currency-rouble_width = 12px;
$currency-rouble_height = 12px;
$currency-rouble_total_width = 107px;
$currency-rouble_total_height = 92px;
$currency-rouble_image = '../img/ural-polit-icons.png';
$currency-rouble = 95px 14px -95px -14px 12px 12px 107px 92px '../img/ural-polit-icons.png';
$icon-enter_x = 73px;
$icon-enter_y = 44px;
$icon-enter_offset_x = -73px;
$icon-enter_offset_y = -44px;
$icon-enter_width = 15px;
$icon-enter_height = 14px;
$icon-enter_total_width = 107px;
$icon-enter_total_height = 92px;
$icon-enter_image = '../img/ural-polit-icons.png';
$icon-enter = 73px 44px -73px -44px 15px 14px 107px 92px '../img/ural-polit-icons.png';
$icon-photo_x = 22px;
$icon-photo_y = 62px;
$icon-photo_offset_x = -22px;
$icon-photo_offset_y = -62px;
$icon-photo_width = 25px;
$icon-photo_height = 18px;
$icon-photo_total_width = 107px;
$icon-photo_total_height = 92px;
$icon-photo_image = '../img/ural-polit-icons.png';
$icon-photo = 22px 62px -22px -62px 25px 18px 107px 92px '../img/ural-polit-icons.png';
$icon-rss_x = 95px;
$icon-rss_y = 56px;
$icon-rss_offset_x = -95px;
$icon-rss_offset_y = -56px;
$icon-rss_width = 9px;
$icon-rss_height = 9px;
$icon-rss_total_width = 107px;
$icon-rss_total_height = 92px;
$icon-rss_image = '../img/ural-polit-icons.png';
$icon-rss = 95px 56px -95px -56px 9px 9px 107px 92px '../img/ural-polit-icons.png';
$icon-search_x = 38px;
$icon-search_y = 31px;
$icon-search_offset_x = -38px;
$icon-search_offset_y = -31px;
$icon-search_width = 20px;
$icon-search_height = 21px;
$icon-search_total_width = 107px;
$icon-search_total_height = 92px;
$icon-search_image = '../img/ural-polit-icons.png';
$icon-search = 38px 31px -38px -31px 20px 21px 107px 92px '../img/ural-polit-icons.png';
$icon-user_x = 95px;
$icon-user_y = 0px;
$icon-user_offset_x = -95px;
$icon-user_offset_y = 0px;
$icon-user_width = 12px;
$icon-user_height = 12px;
$icon-user_total_width = 107px;
$icon-user_total_height = 92px;
$icon-user_image = '../img/ural-polit-icons.png';
$icon-user = 95px 0px -95px 0px 12px 12px 107px 92px '../img/ural-polit-icons.png';
$input-checkbox_x = 0px;
$input-checkbox_y = 62px;
$input-checkbox_offset_x = 0px;
$input-checkbox_offset_y = -62px;
$input-checkbox_width = 20px;
$input-checkbox_height = 20px;
$input-checkbox_total_width = 107px;
$input-checkbox_total_height = 92px;
$input-checkbox_image = '../img/ural-polit-icons.png';
$input-checkbox = 0px 62px 0px -62px 20px 20px 107px 92px '../img/ural-polit-icons.png';
$input-choise_x = 73px;
$input-choise_y = 22px;
$input-choise_offset_x = -73px;
$input-choise_offset_y = -22px;
$input-choise_width = 20px;
$input-choise_height = 20px;
$input-choise_total_width = 107px;
$input-choise_total_height = 92px;
$input-choise_image = '../img/ural-polit-icons.png';
$input-choise = 73px 22px -73px -22px 20px 20px 107px 92px '../img/ural-polit-icons.png';
$input-radio_x = 73px;
$input-radio_y = 0px;
$input-radio_offset_x = -73px;
$input-radio_offset_y = 0px;
$input-radio_width = 20px;
$input-radio_height = 20px;
$input-radio_total_width = 107px;
$input-radio_total_height = 92px;
$input-radio_image = '../img/ural-polit-icons.png';
$input-radio = 73px 0px -73px 0px 20px 20px 107px 92px '../img/ural-polit-icons.png';
$opinion-section-article-pointer_x = 60px;
$opinion-section-article-pointer_y = 31px;
$opinion-section-article-pointer_offset_x = -60px;
$opinion-section-article-pointer_offset_y = -31px;
$opinion-section-article-pointer_width = 11px;
$opinion-section-article-pointer_height = 20px;
$opinion-section-article-pointer_total_width = 107px;
$opinion-section-article-pointer_total_height = 92px;
$opinion-section-article-pointer_image = '../img/ural-polit-icons.png';
$opinion-section-article-pointer = 60px 31px -60px -31px 11px 20px 107px 92px '../img/ural-polit-icons.png';
$weather-day_x = 69px;
$weather-day_y = 62px;
$weather-day_offset_x = -69px;
$weather-day_offset_y = -62px;
$weather-day_width = 18px;
$weather-day_height = 17px;
$weather-day_total_width = 107px;
$weather-day_total_height = 92px;
$weather-day_image = '../img/ural-polit-icons.png';
$weather-day = 69px 62px -69px -62px 18px 17px 107px 92px '../img/ural-polit-icons.png';
$weather-night_x = 49px;
$weather-night_y = 62px;
$weather-night_offset_x = -49px;
$weather-night_offset_y = -62px;
$weather-night_width = 18px;
$weather-night_height = 17px;
$weather-night_total_width = 107px;
$weather-night_total_height = 92px;
$weather-night_image = '../img/ural-polit-icons.png';
$weather-night = 49px 62px -49px -62px 18px 17px 107px 92px '../img/ural-polit-icons.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
