<section class="news-section">
  <header>
    <h2 class="news-section__title"><a href="#">Обзор блогов</a></h2>
  </header>
  <ul>
    <li>
      <article class="news-article  type-preview-M">
        <aside>
          <time>16:20</time>
          <a href="#" class="news-article__counter">123</a>
        </aside>
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/1"></a>
        <h2 class="news-article__title"><a href="#">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</a></h2>
        <div class="news-article__body  arrow-after">
          Церемония открытия XXII зимних
          Олимпийских игр в Сочи стала одним
          из наиболее выдающихся по красоте
          и сложности организации мероприятий
          последних лет. Однако за торжественным
          пафосом пользователи Интернета
          обнаружили ряд неловких моментов
        </div>
      </article>
    </li>
    <li>
      <article class="news-article  type-preview-M">
        <aside>
          <time>16:20</time>
          <a href="#" class="news-article__counter">123</a>
        </aside>
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/2"></a>
        <h2 class="news-article__title"><a href="#">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</a></h2>
        <div class="news-article__body  arrow-after">
          Церемония открытия XXII зимних
          Олимпийских игр в Сочи стала одним
          из наиболее выдающихся по красоте
          и сложности организации мероприятий
          последних лет. Однако за торжественным
          пафосом пользователи Интернета
          обнаружили ряд неловких моментов
        </div>
      </article>
    </li>
    <li>
      <article class="news-article  type-preview-M">
        <aside>
          <time>16:20</time>
          <a href="#" class="news-article__counter">123</a>
        </aside>
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/4"></a>
        <h2 class="news-article__title"><a href="#">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</a></h2>
        <div class="news-article__body  arrow-after">
          Церемония открытия XXII зимних
          Олимпийских игр в Сочи стала одним
          из наиболее выдающихся по красоте
          и сложности организации мероприятий
          последних лет. Однако за торжественным
          пафосом пользователи Интернета
          обнаружили ряд неловких моментов
        </div>
      </article>
    </li>
  </ul>
  <footer class="btn-serv-wrap">
    <a href="#" class="btn  btn-serv">Все обзоры блогов</a>
  </footer>
</section>