<form class="project-page__filter" xmlns="http://www.w3.org/1999/html">
  <span class="project-page__filter__label">Поиск эксперта:</span>

  <select class="project-page__filter__item  type-XL">
    <option disabled  selected>Выберите отрасль</option>
    <option>Значение 1</option>
    <option>Значение 2</option>
    <option>Значение 3</option>
    <option>Значение 100500</option>
  </select>
  <select class="project-page__filter__item">
    <option disabled  selected>По алфавиту</option>
    <option>Значение 1</option>
    <option>Значение 2</option>
    <option>Значение 3</option>
    <option>Значение 100500</option>
  </select>
  <div class="project-page__filter__submit">
    <input type="submit" class="btn  btn-default" value="Найти">
  </div>
</form>