<div class="project-page__filter">
  <span>Поиск эксперта:</span>

  <div class="btn-group__selectbox  project-page__filter__item">
    <button class="form-control  dropdown-toggle" type="button" data-toggle="dropdown">
      <span>Выберите отрасль</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Пункт 1</a></li>
      <li><a href="#">Пункт 2</a></li>
      <li><a href="#">Пункт 100500</a></li>
    </ul>
  </div>
  <div class="btn-group__selectbox  project-page__filter__item">
    <button class="form-control  dropdown-toggle" type="button" data-toggle="dropdown">
      <span>По алфавиту</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Пункт 1</a></li>
      <li><a href="#">Пункт 2</a></li>
      <li><a href="#">Пункт 100500</a></li>
    </ul>
  </div>
  <div>
    <button class="btn btn-default">Найти</button>
  </div>
</div>