<!--photo gallery-->
<article class="news-article  type-carousel  carousel slide" id="photo-report-preview"  data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <a href="#"><img src="http://lorempixel.com/280/210/business/2"></a>
      <a href="#" class="news-article__counter">123</a>
      <a href="#" class="news-article__photo-total">14</a>
      <a href="#" class="carousel-caption">
        Начало строительства ПС 110/20 кВ Медная
      </a>
    </div>
    <div class="item">
      <a href="#"><img src="http://lorempixel.com/280/210/business/3"></a>
      <a href="#" class="news-article__counter">123</a>
      <a href="#" class="news-article__photo-total">14</a>
      <a href="#" class="carousel-caption">
        Как гуляли спасатели в Екатеринбурге
      </a>
    </div>
    <div class="item">
      <a href="#"><img src="http://lorempixel.com/280/210/business/6"></a>
      <a href="#" class="news-article__counter">123</a>
      <a href="#" class="news-article__photo-total">14</a>
      <a href="#" class="carousel-caption">
        Как гуляли спасатели в Екатеринбурге
      </a>
    </div>
    <div class="item">
      <a href="#"><img src="http://lorempixel.com/280/210/business/5"></a>
      <a href="#" class="news-article__counter">123</a>
      <a href="#" class="news-article__photo-total">14</a>
      <a href="#" class="carousel-caption">
        Начало строительства ПС 110/20 кВ Медная
      </a>
    </div>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#photo-report-preview" data-slide-to="0" class="active"></li>
    <li data-target="#photo-report-preview" data-slide-to="1"></li>
    <li data-target="#photo-report-preview" data-slide-to="2"></li>
    <li data-target="#photo-report-preview" data-slide-to="3"></li>
  </ol>

  <header>
    <a href="#" class="news-article__tag">Фоторепортаж</a>
  </header>
</article>