<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>UralPolit.ru</title>
  <!--SEO skeleton-->
  <meta name="robots" content="">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <!--allows ie8 users to use Google Chrome Frame plugin in our browser-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--Analytics include-->
  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">
  <!--PT Sans-->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
  <!--CSS include-->
  <link href="assets/css/ural-polit-styles.css" rel="stylesheet">
  <!--<link href="assets/css/ural-polit-styles.min.css" rel="stylesheet">-->

  <!--[if lt IE 9]>
  <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>

<body itemscope itemtype='http://schema.org/WebPage'>

<!--Scripts for social widgets-->
<script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!--HEADER start-->
<header class="l-header">
  <div class="container">
    <div class="bnr-wrap">
      <img src="http://lorempixel.com/1000/90/business">
    </div>
    <section class="news-section  type-header-section-1">
      <ul>
        <li>
          <a class="news-article" href="#">
            <time>18.03</time>
            <span class="news-article__title">СКР: Ярош и Тягнибок воевали против россиян в Чечне</span>
          </a>
        </li>
        <li>
          <a class="news-article" href="#">
            <time>18.03</time>
            <span class="news-article__title">СКР: Ярош и Тягнибок воевали против россиян в Чечне</span>
          </a>
        </li>
        <li>
          <a class="news-article" href="#">
            <time>18.03</time>
            <span class="news-article__title">СКР: Ярош и Тягнибок воевали против россиян в Чечне</span>
          </a>
        </li>
        <li>
          <a class="news-article" href="#">
            <time>18.03</time>
            <span class="news-article__title">СКР: Ярош и Тягнибок воевали против россиян в Чечне</span>
          </a>
        </li>
        <li>
          <a class="news-article" href="#">
            <time>18.03</time>
            <span class="news-article__title">СКР: Ярош и Тягнибок воевали против россиян в Чечне</span>
          </a>
        </li>
      </ul>
    </section>

    <div class="l-header__main">
      <!--logo-->
      <a class="logo" href="/" itemprop='url'>
        <span class="text-hide" itemprop="name">УралПолит.ru</span>
        <span class="text-hide" itemprop="description">Экспертный информационный канал</span>
      </a>

      <div class="l-header__main__right">
        <div class="l-header__main__row  hidden-xs">
          <time class="widget-date">14 сентября 2014 года</time>
          <div class="widget-weather">
            <span>Погода:</span>
            <span class="widget-weather__unit  state-day  state-sunny">+15°С</span>
            <span class="widget-weather__unit  state-night  state-sunny">−23°С</span>
          </div>
          <div class="widget-currency">
            <div>
              <span class="widget-currency__dollar">1</span>
              =
              <span class="widget-currency__rouble">36.0000</span>
              <span class="widget-currency__exchange--up">+0.1825</span>
            </div>
            <div>
              <span class="widget-currency__euro">1</span>
              =
              <span class="widget-currency__rouble">36.0000</span>
              <span class="widget-currency__exchange--down">-0.1825</span>
            </div>

          </div>
        </div>
        <div class="l-header__main__row">
          <nav class="project-nav">
            <ul>
              <li><a href="#">О проекте</a></li>
              <li><a href="#">Реклама</a></li>
              <li><a href="#">Подписка</a></li>
              <li><a class="rss" href="#">RSS</a></li>
            </ul>
          </nav>
          <form class="project-search">
            <input type="text" placeholder="Поиск">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>

    </div>

    <nav class="set-region">
      <ul>
        <li><a href="#" class="active">Свердловская область</a></li>
        <li><a href="#">Челябинская область</a></li>
        <li><a href="#">Курганская область</a></li>
        <li><a href="#">Тюменская область</a></li>
        <li><a href="#">ХМАО</a></li>
        <li><a href="#">ЯНАО</a></li>
      </ul>
    </nav>

    <section class="news-section  type-header-section-2">
      <ul>
        <li>
          <a href="#" class="news-article__header">
            <img class="news-article__photo" src="http://lorempixel.com/320/100/business/1">
            <h2 class="news-article__title">Следствие просит арестовать совладельца ЧТПЗ Андрея Комарова и его адвоката</h2>
          </a>
        </li>
        <li>
          <a href="#" class="news-article__header">
            <img class="news-article__photo" src="http://lorempixel.com/320/100/business/4">
            <h2 class="news-article__title">Следствие просит арестовать совладельца ЧТПЗ Андрея Комарова и его адвоката</h2>
          </a>
        </li>
        <li>
          <a href="#" class="news-article__header">
            <img class="news-article__photo" src="http://lorempixel.com/320/100/business/2">
            <h2 class="news-article__title">Следствие просит арестовать совладельца ЧТПЗ Андрея Комарова и его адвоката</h2>
          </a>
        </li>
      </ul>
    </section>

    <nav class="project-catalog">
      <ul>
        <li><a href="#" class="active">Личный взгляд</a></li>
        <li><a href="#">Спецпроекты</a></li>
        <li><a href="#">Слухи</a></li>
        <li><a href="#">Фоторепортаж</a></li>
      </ul>
    </nav>

    <button class="btn-show-menu">Show menu</button>

  </div>
</header>
<!--HEADER end-->

<!--MAIN start-->
<main class="l-main">

  include "templates/article-photo"

  <div class="container">
    <div class="row">

      <!--include "templates/temp-nav"-->


      <!--include "templates/main"-->
      <!--include "templates/article"-->
      <!--include "templates/article-expert"-->
      <!--include "templates/section"-->
      <!--include "templates/opinion-section"-->
      <!--include "templates/subject"-->
      <!--include "templates/encyclopedia-company"-->
      <!--include "templates/encyclopedia-section"-->
      <!--include "templates/news-feed"-->

      <!--include "components/sidebar"-->
    </div>
  </div>

  <!--include "components/important-news"-->
  <!--include "components/footer-area"-->


</main>
<!--MAIN end-->

<!--start FOOTER-->
<footer class="l-footer">
  <div class="container">

    <div class="l-footer__main">
      <!--logo-->
      <a class="logo" href="/" itemprop='url'>
        <span class="text-hide" itemprop="name">УралПолит.ru</span>
        <span class="text-hide" itemprop="description">Экспертный информационный канал</span>
      </a>

      <div class="l-header__main__right">
        <nav class="project-nav">
          <ul>
            <li><a href="#">О проекте</a></li>
            <li><a href="#">Реклама</a></li>
            <li><a href="#">Подписка</a></li>
            <li><a class="rss" href="#">RSS</a></li>
            <li><a href="#">Архив</a></li>
            <li><a href="#">Редакция</a></li>
            <li><a href="#">PDA</a></li>
            <li><a href="#">Вакансии</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <nav class="set-region">
      <ul>
        <li><a href="#">Свердловская область</a></li>
        <li><a href="#">Челябинская область</a></li>
        <li><a href="#">Курганская область</a></li>
        <li><a href="#">Тюменская область</a></li>
        <li><a href="#">ХМАО</a></li>
        <li><a href="#">ЯНАО</a></li>
      </ul>
    </nav>

    <nav class="project-catalog">
      <ul>
        <li><a href="#">Личный взгляд</a></li>
        <li><a href="#">Спецпроекты</a></li>
        <li><a href="#">Слухи</a></li>
        <li><a href="#">Фоторепортаж</a></li>
      </ul>
    </nav>

    <div class="l-footer__btm">
      <div>
        <p>2002-2014 © Российское информационное агентство «ФедералПресс»</p>
        <p>Главный редактор: Еремин Иван Сергеевич</p>
        <p>E-mail: msk@fedpress.ru</p>
        <p>&nbsp;</p>
        <p>Региональная редакция: Уральский федеральный округ</p>
        <p>Информационное агентство "Экспертный информационный канал «УралПолит.RU»</p>
        <p>&nbsp;</p>
        <p>Редактор: Вахрушев Алексей Викторович</p>
        <p>8 (343) 379-00-33</p>
        <p>E-mail: news@fedpress.ru</p>
        <ul class="web-counters">
          <li><img src="http://fakeimg.pl/90x30/?text=90x30"></li>
          <li><img src="http://fakeimg.pl/90x30/?text=90x30"></li>
          <li><img src="http://fakeimg.pl/90x30/?text=90x30"></li>
          <li><img src="http://fakeimg.pl/90x30/?text=90x30"></li>
          <li><img src="http://fakeimg.pl/90x30/?text=90x30"></li>
          <li><img src="http://fakeimg.pl/90x30/?text=90x30"></li>
        </ul>
      </div>
      <div>
        <p>ФедералПресс - Консалтинговое агентство «Главный Советникъ»</p>
        <p>тел. +7 915 367 99 93 Москва</p>
        <p>тел. +7 912 644 44 57 Екатеринбург</p>
        <p>E-mail: director@glavsovetnik.com</p>
        <p><a href="#">Экспертный информационный канал УралПолит.RU <br/> в каталоге российских СМИ проекта Яндекс</a></p>
        <p>&nbsp;</p>
        <p>
           Свидетельство о регистрации СМИ ИА №ФС77-46700 от 23.09.2011 г. <br/>
           выдано Федеральной службой по надзору в сфере связи, информационных <br/>
           технологий и массовых коммуникаций (Роскомнадзор)
        </p>
        <p>&nbsp;</p>
        <p>При использовании информационных материалов гипертекстовая индексируемая ссылка на «УралПолит.RU» обязательна.</p>
        <p>&nbsp;</p>
        <p>Информация на сайте предназначена для лиц старше 16 лет</p>
      </div>
    </div>
  </div>
</footer>
<!-- end FOOTER -->



<!--SCRIPTS  start-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="assets/js/ural-polit-plugins.min.js"></script>
<script src="assets/js/ural-polit-components.min.js"></script>

<script>
  (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
      l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-XXXXXXXX-XX');
  ga('send', 'pageview');
</script>
<!--SCRIPTS end-->

</body>
</html>
