<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>UralPolit.ru</title>
  <!--SEO skeleton-->
  <meta name="robots" content="">
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <!--allows ie8 users to use Google Chrome Frame plugin in our browser-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!--Analytics include-->
  <link href="//www.google-analytics.com" rel="dns-prefetch">
  <link href="//ajax.googleapis.com" rel="dns-prefetch">
  <!--CSS include-->
  <link href="assets/css/ural-polit-styles.css" rel="stylesheet">
  <!--<link href="assets/css/ural-polit-styles.min.css" rel="stylesheet">-->
</head>

<body itemscope itemtype='http://schema.org/WebPage'>

<!--HEADER start-->
<header class="l-header">
  <div class="container">
    <div class="row">
      <img class="img-responsive" src="http://fakeimg.pl/1000x90/?text=1000x90">
    </div>
    <ul class="articles-list">
      <li>
        <a class="article">
          <time>18.03</time>
          <div>СКР: Ярош и Тягнибок воевали против россиян в Чечне</div>
        </a>
      </li>
      <li>
        <a class="article">
          <time>18.03</time>
          <div>СКР: Ярош и Тягнибок воевали против россиян в Чечне</div>
        </a>
      </li>
      <li>
        <a class="article">
          <time>18.03</time>
          <div>СКР: Ярош и Тягнибок воевали против россиян в Чечне</div>
        </a>
      </li>
      <li>
        <a class="article">
          <time>18.03</time>
          <div>СКР: Ярош и Тягнибок воевали против россиян в Чечне</div>
        </a>
      </li>
      <li>
        <a class="article">
          <time>18.03</time>
          <div>СКР: Ярош и Тягнибок воевали против россиян в Чечне</div>
        </a>
      </li>
    </ul>

    <div class="l-header__main">
      <!--logo-->
      <a class="logo" href="/" itemprop='url'>
        <img src="assets/img/logo.png" alt="" itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
        <span class="text-hide" itemprop="name">УралПолит.ru</span>
        <span class="text-hide" itemprop="description">Экспертный информационный канал</span>
      </a>

      <div class="l-header__main__right">
        <div class="l-header__main__row">
          <time class="widget-date">14 апреля 2014 года</time>
          <div class="widget-weather">
            <span>Погода:</span>
            <span class="widget-weather__day">+5°С</span>
            <span class="widget-weather__night">−3°С</span>
          </div>
          <div class="widget-currency">
            <div>
              <span class="widget-currency__dollar">1</span>
              =
              <span class="widget-currency__rouble">36.0000</span>
              <span class="widget-currency__exchange--up">+0.1825</span>
            </div>
            <div>
              <span class="widget-currency__euro">1</span>
              =
              <span class="widget-currency__rouble">36.0000</span>
              <span class="widget-currency__exchange--down">-0.1825</span>
            </div>

          </div>
        </div>
        <div class="l-header__main__row">
          <nav class="project-nav">
            <ul>
              <li><a href="#">О проекте</a></li>
              <li><a href="#">Реклама</a></li>
              <li><a href="#">Подписка</a></li>
              <li><a class="rss" href="#">RSS</a></li>
            </ul>
          </nav>
          <form class="project-search">
            <input type="text" placeholder="Поиск">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <nav class="set-region">
      <ul>
        <li><a href="#">Свердловская область</a></li>
        <li><a href="#">Челябинская область</a></li>
        <li><a href="#">Курганская область</a></li>
        <li><a href="#">Тюменская область</a></li>
        <li><a href="#">ХМАО</a></li>
        <li><a href="#">ЯНАО</a></li>
      </ul>
    </nav>

    <ul class="top-news">
      <li>
        <a href="#" class="top-news__article">
          <img src="http://fakeimg.pl/320x100/?text=320x100">
          <span>Следствие просит арестовать совладельца ЧТПЗ Андрея Комарова и его адвоката</span>
        </a>
      </li>
      <li>
        <a href="#" class="top-news__article">
          <img src="http://fakeimg.pl/320x100/?text=320x100">
          <span>Следствие просит арестовать совладельца ЧТПЗ Андрея Комарова и его адвоката</span>
        </a>
      </li>
      <li>
        <a href="#" class="top-news__article">
          <img src="http://fakeimg.pl/320x100/?text=320x100">
          <span>Следствие просит арестовать совладельца ЧТПЗ Андрея Комарова и его адвоката</span>
        </a>
      </li>
    </ul>

    <nav class="project-catalog">
      <ul>
        <li><a href="#">Личный взгляд</a></li>
        <li><a href="#">Спецпроекты</a></li>
        <li><a href="#">Слухи</a></li>
        <li><a href="#">Фоторепортаж</a></li>
      </ul>
    </nav>
  </div>
</header>
<!--HEADER end-->

<!--MAIN start-->
<main class="container">

</main>
<!--MAIN end-->

<!--start FOOTER-->
<footer class="l-footer">
  <!--copyright-->
  <small class="copyright"></small>
</footer>
<!-- end FOOTER -->



<!--SCRIPTS  start-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="assets/js/ural-polit-plugins.min.js"></script>
<script src="assets/js/ural-polit-components.min.js"></script>

<script>
  (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
      l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-XXXXXXXX-XX');
  ga('send', 'pageview');
</script>
<!--SCRIPTS end-->

</body>
</html>
