<!--content footer area-->
<div class="container">
  <div class="row">
    <!--column-->
    <div class="col-xs-10  col-md-7">

    <div class="row">
      <!--encyclopedia-->
      <div class="col-xs-10  col-sm-3">
        <section class="news-section  type-persons">
          <header>
            <h2 class="news-section__title"><a href="#">Энциклопедия</a></h2>
          </header>
          <ul>
            <li>
              <article class="news-article" href="#">
                <a class="news-article__photo" href="#"><img src="http://lorempixel.com/110/110/people/7"></a>
                <a href="#" class="news-article__tag">Персоны</a>
                <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
                <div class="news-article__body">Прокурор Свердловского района Перми</div>
              </article>
            </li>
            <li>
              <article class="news-article" href="#">
                <a class="news-article__photo" href="#"><img src="http://lorempixel.com/110/110/people/9"></a>
                <a href="#" class="news-article__tag">Персоны</a>
                <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
                <div class="news-article__body">Прокурор Свердловского района Перми</div>
              </article>
            </li>
          </ul>
          <footer class="btn-serv-wrap">
            <a href="#" class="btn  btn-serv">Вся энциклопедия</a>
          </footer>
        </section>

        <div class="bnr-wrap    hidden-sm  hidden-xs">
          <img src="http://lorempixel.com/200/300">
        </div>

      </div>
      <!--blogs-->
      <div class="col-xs-10  col-sm-4">
        include "../single-components/blogs-review"
      </div>
      <!--projects-->
      <div class="col-xs-10  col-sm-3">
        <section class="news-section  type-projects">
          <header>
            <h2 class="news-section__title  type-non-accented"><a href="#">Проекты «УралПолит.Ru»</a></h2>
          </header>
          <ul>
            <li>
              <article class="news-article">
                <a class="news-article__photo" href="#"><img src="http://lorempixel.com/135/135/people/3"></a>
                <a href="#" class="news-article__tag">Global City</a>
                <h2 class="news-article__title"><a href="#">Владимир Бегунов выступит на виниловой вечеринке</a></h2>
              </article>
            </li>
            <li>
              <article class="news-article">
                <a class="news-article__photo" href="#"><img src="http://lorempixel.com/135/135/people/5"></a>
                <a href="#" class="news-article__tag">Global City</a>
                <h2 class="news-article__title"><a href="#">Владимир Бегунов выступит на виниловой вечеринке</a></h2>
              </article>
            </li>
            <li>
              <article class="news-article">
                <a class="news-article__photo" href="#"><img src="http://lorempixel.com/135/135/people/6"></a>
                <a href="#" class="news-article__tag">Global City</a>
                <h2 class="news-article__title"><a href="#">Владимир Бегунов выступит на виниловой вечеринке</a></h2>
              </article>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <div class="row">
      include "../single-components/news-from-partners"
    </div>

    </div>
    <!--social widgets-->
    <div class="hidden-xs  hidden-sm  col-md-3">
      <div class="l-island">
        <img src="http://lorempixel.com/240/400">
      </div>

      <section class="social-widget  type-group-widget">
        <header>
          <h2 class="social-widget__title">Следите за нами в соцсетях:</h2>
        </header>
        <ul class="reset-list">
          <li>
            <div id="vk_groups"></div>
            <script type="text/javascript">
              VK.Widgets.Group("vk_groups", {mode: 0, width: "240", height: "290"}, 1);
            </script>
          </li>
          <li>
            <div id="ultraorange"></div>
            <script type="text/javascript">
              VK.Widgets.Group("ultraorange", {mode: 0, width: "240", height: "290"}, 1);
            </script>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>