<!--content footer area-->
<div class="container">
<div class="row">
<!--column-->
<div class="col-xs-10  col-md-7">

<div class="row">
  <!--encyclopedia-->
  <div class="col-xs-10  col-sm-3">
    <section class="news-section  type-persons">
      <header>
        <h2 class="news-section__title"><a href="#">Энциклопедия</a></h2>
      </header>
      <ul>
        <li>
          <article class="news-article" href="#">
            <a class="news-article__photo" href="#"><img src="http://lorempixel.com/110/110/people/7"></a>
            <a href="#" class="news-article__tag">Персоны</a>
            <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
            <div class="news-article__body">Прокурор Свердловского района Перми</div>
          </article>
        </li>
        <li>
          <article class="news-article" href="#">
            <a class="news-article__photo" href="#"><img src="http://lorempixel.com/110/110/people/9"></a>
            <a href="#" class="news-article__tag">Персоны</a>
            <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
            <div class="news-article__body">Прокурор Свердловского района Перми</div>
          </article>
        </li>
      </ul>
      <footer class="btn-serv-wrap">
        <a href="#" class="btn  btn-serv">Вся энциклопедия</a>
      </footer>
    </section>

    <div class="bnr-wrap    hidden-sm  hidden-xs">
      <img src="http://lorempixel.com/200/300">
    </div>

  </div>
  <!--blogs-->
  <div class="col-xs-10  col-sm-4">
    <section class="news-section">
      <header>
        <h2 class="news-section__title"><a href="#">Обзор блогов</a></h2>
      </header>
      <ul>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/1"></a>
            <h2 class="news-article__title"><a href="#">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</a></h2>
            <div class="news-article__body  arrow-after">
              Церемония открытия XXII зимних
              Олимпийских игр в Сочи стала одним
              из наиболее выдающихся по красоте
              и сложности организации мероприятий
              последних лет. Однако за торжественным
              пафосом пользователи Интернета
              обнаружили ряд неловких моментов
            </div>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/2"></a>
            <h2 class="news-article__title"><a href="#">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</a></h2>
            <div class="news-article__body  arrow-after">
              Церемония открытия XXII зимних
              Олимпийских игр в Сочи стала одним
              из наиболее выдающихся по красоте
              и сложности организации мероприятий
              последних лет. Однако за торжественным
              пафосом пользователи Интернета
              обнаружили ряд неловких моментов
            </div>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/4"></a>
            <h2 class="news-article__title"><a href="#">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</a></h2>
            <div class="news-article__body  arrow-after">
              Церемония открытия XXII зимних
              Олимпийских игр в Сочи стала одним
              из наиболее выдающихся по красоте
              и сложности организации мероприятий
              последних лет. Однако за торжественным
              пафосом пользователи Интернета
              обнаружили ряд неловких моментов
            </div>
          </article>
        </li>
      </ul>
      <footer class="btn-serv-wrap">
        <a href="#" class="btn  btn-serv">Все обзоры блогов</a>
      </footer>
    </section>
  </div>
  <!--projects-->
  <div class="col-xs-10  col-sm-3">
    <section class="news-section  type-projects">
      <header>
        <h2 class="news-section__title  type-non-accented"><a href="#">Проекты «УралПолит.Ru»</a></h2>
      </header>
      <ul>
        <li>
          <article class="news-article">
            <a class="news-article__photo" href="#"><img src="http://lorempixel.com/135/135/people/3"></a>
            <a href="#" class="news-article__tag">Global City</a>
            <h2 class="news-article__title"><a href="#">Владимир Бегунов выступит на виниловой вечеринке</a></h2>
          </article>
        </li>
        <li>
          <article class="news-article">
            <a class="news-article__photo" href="#"><img src="http://lorempixel.com/135/135/people/5"></a>
            <a href="#" class="news-article__tag">Global City</a>
            <h2 class="news-article__title"><a href="#">Владимир Бегунов выступит на виниловой вечеринке</a></h2>
          </article>
        </li>
        <li>
          <article class="news-article">
            <a class="news-article__photo" href="#"><img src="http://lorempixel.com/135/135/people/6"></a>
            <a href="#" class="news-article__tag">Global City</a>
            <h2 class="news-article__title"><a href="#">Владимир Бегунов выступит на виниловой вечеринке</a></h2>
          </article>
        </li>
      </ul>
    </section>
  </div>
</div>

<div class="row">
  <!--news from partners-->
  <section class="news-section  type-from-partner">
    <header>
      <h2 class="news-section__title  type-non-accented"><a href="#">Новости партнеров</a></h2>
    </header>
    <ul>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/1"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/2"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/3"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/4"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/5"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/6"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/7"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/8"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
      <li>
        <article class="news-article  type-from-partner">
          <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/9"></a>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
        </article>
      </li>
    </ul>
  </section>
</div>

</div>
<!--social widgets-->
<div class="hidden-xs  hidden-sm  col-md-3">
  <div class="l-island">
    <img src="http://lorempixel.com/240/400">
  </div>

  <section class="social-widget  type-group-widget">
    <header>
      <h2 class="social-widget__title">Следите за нами в соцсетях:</h2>
    </header>
    <ul class="reset-list">
      <li>
        <div id="vk_groups"></div>
        <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 0, width: "240", height: "290"}, 1);
        </script>
      </li>
      <li>
        <div id="ultraorange"></div>
        <script type="text/javascript">
          VK.Widgets.Group("ultraorange", {mode: 0, width: "240", height: "290"}, 1);
        </script>
      </li>
    </ul>
  </section>
</div>
</div>
</div>