<!--parnter news-->
<section class="news-section  type-from-partner  subtype-widget">
  <header>
    <h2 class="news-section__title  type-non-accented"><a href="#">Новости партнеров</a></h2>
  </header>
  <ul>
    <li>
      <article class="news-article  type-from-partner">
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/1"></a>
        <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
      </article>
    </li>
    <li>
      <article class="news-article  type-from-partner">
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/2"></a>
        <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
      </article>
    </li>
    <li>
      <article class="news-article  type-from-partner">
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/3"></a>
        <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
      </article>
    </li>
    <li>
      <article class="news-article  type-from-partner">
        <a href="#"><img class="news-article__photo" src="http://lorempixel.com/70/70/people/4"></a>
        <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
      </article>
    </li>
  </ul>
</section>
<!--parnter news END-->