<aside class="hidden-xs  col-sm-4  col-md-3">
<!--Hot news section-->
<section class="news-section">
  <header>
    <h2 class="news-section__title"><a href="#">Горячие темы</a></h2>
  </header>
  <ul>
    <li>
      <a href="#" class="news-article  type-preview-S">Борьба с коррупцией: задержан бизнесмен Комаров</a>
    </li>
    <li>
      <a href="#" class="news-article  type-preview-S">ЧП: в Сургуте рухнуло здание</a>
    </li>
    <li>
      <a href="#" class="news-article  type-preview-S">Борьба с коррупцией: задержан бизнесмен Комаров</a>
    </li>
    <li>
      <a href="#" class="news-article  type-preview-S">ЧП: в Сургуте рухнуло здание</a>
    </li>
    <li>
      <a href="#" class="news-article  type-preview-S">Борьба с коррупцией: задержан бизнесмен Комаров</a>
    </li>
  </ul>
</section>
<!--banner-->
<div class="l-island">
  <img src="http://lorempixel.com/240/400/business">
</div>

include "../single-components/news-article-carousel"

<!--top commented materials-->
<section class="news-section">
  <header>
    <h2 class="news-section__title"><a href="#">Комментарии читателей в самых обсуждаемых материалах</a></h2>
  </header>
  <ul>
    <li>
      <article class="news-article  type-top-commented">
        <aside class="l-jLine--middle">
          <div class="btn-group  comment-controls">
            <a href="#" class="btn  comment-controls__unit  comment-controls__unit--counter">9 999</a>
            <a href="#" class="btn  comment-controls__unit">Обсудить</a>
          </div>
          <time>11 марта 2014, 17:54</time>
        </aside>
        <a href="#" class="news-article__body">
          Заселение скандального дома
          на Фрезеровщиков откладывается.
          Будущие жильцы вновь перессорились
        </a>
        <footer>
          <a class="comment-article" href="#">
            <aside>
              <span class="comment-article__author">Иван</span>
              <time>16 марта 2014, 16:57</time>
            </aside>
            <div class="comment-article__body">
              Понятно, что Стройнадзор не мог принять
              в эксплуатацию дом с такой разрушенной
              квартирой без наружной стены. Все
              остальное стоит, ремонт есть, а наружной
              стены квартиры нет
            </div>
          </a>
        </footer>
      </article>
    </li>
    <li>
      <article class="news-article  type-top-commented">
        <aside class="l-jLine--middle">
          <div class="btn-group  comment-controls">
            <a href="#" class="btn  comment-controls__unit  comment-controls__unit--counter">9999</a>
            <a href="#" class="btn  comment-controls__unit">Обсудить</a>
          </div>
          <time>24 сентября 2014, 17:54</time>
        </aside>
        <a href="#" class="news-article__body">
          Заселение скандального дома
          на Фрезеровщиков откладывается.
          Будущие жильцы вновь перессорились
        </a>
        <footer>
          <a class="comment-article" href="#"><aside>
            <span class="comment-article__author">Иван</span>
            <time>16 марта 2014, 16:57</time>
          </aside>
            <div class="comment-article__body">
              Понятно, что Стройнадзор не мог принять
              в эксплуатацию дом с такой разрушенной
              квартирой без наружной стены. Все
              остальное стоит, ремонт есть, а наружной
              стены квартиры нет
            </div>
          </a>
        </footer>
      </article>
    </li>
  </ul>
</section>
<!--poll-->
<article class="news-article  type-poll">
  <header class="news-article__header">
    <h2 class="news-article__title"><a href="#">Как вы считаете, войдет ли Крым в состав России?</a></h2>
    <a href="#" class="news-article__tag">Опрос</a>
    <a href="#"><img src="http://lorempixel.com/260/180/business/1"></a>
  </header>
  <div class="news-article__body  is-hidden">
    <ul>
      <li>
        <label class="custom-choise-input">
          <input type="checkbox"/>
          <span class="custom-choise-input__label">Да, большинство населения выступает за воссоединение с Россией и против нынешней власти на Украине</span>
        </label>
      </li>
      <li>
        <label class="custom-choise-input">
          <input type="checkbox"/>
          <span class="custom-choise-input__label">Нет</span>
        </label>
      </li>
      <li>
        <label class="custom-choise-input">
          <input type="radio" name="poll"/>
          <span class="custom-choise-input__label">Да, большинство населения выступает за воссоединение с Россией и против нынешней власти на Украине</span>
        </label>
      </li>
      <li>
        <label class="custom-choise-input">
          <input type="radio" name="poll"/>
          <span class="custom-choise-input__label">Нет</span>
        </label>
      </li>
    </ul>

    <footer class="news-article__footer">
      <a href="#" class="btn  btn-default">Проголосовать</a>
      <a href="#" class="btn  btn-serv">Архив опросов</a>
    </footer>
  </div>
  <div class="news-article__body  is-shown">

    <ul class="">
      <li class="poll-item">
        <span class="poll-item-scale-label">50%</span>
        <span class="poll-item-scale" style="width: 50%"></span>
        <span class="poll-item-label">Да, большинство населения выступает за воссоединение с Россией и против нынешней власти на Украине</span>
      </li>
      <li class="poll-item">
        <span class="poll-item-scale-label">100%</span>
        <span class="poll-item-scale" style="width: 100%"></span>
        <span class="poll-item-label">Нет</span>
      </li>
      <li class="poll-item">
        <span class="poll-item-scale-label">0%</span>
        <span class="poll-item-scale" style="width: 0%"></span>
        <span class="poll-item-label">Затрудняюсь ответить</span>
      </li>
      <li class="poll-item">
        <span class="poll-item-scale-label">100%</span>
        <span class="poll-item-scale" style="width: 33%"></span>
        <span class="poll-item-label">Другой вариант</span>
      </li>
    </ul>

    <footer class="news-article__footer">
      <span class="poll-party-counter">Приняли участие: <b>2 250 чел.</b></span>
      <a href="#" class="btn  btn-serv">Архив опросов</a>
    </footer>
  </div>
</article>

include "../single-components/news-from-partners-widget"

include "../single-components/blogs-review"
</aside>