<article class="news-article  type-template">
  <!--article header-->
  <header>
    <time>14 марта 2014 г., 19:03</time>
    <h2 class="news-article__title">Заголовок. Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
    <h2 class="news-article__subTitle">Информационный или SEO–подзаголовок. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» — заручиться господдержкой</h2>
    <section class="social-widget  type-follow">
      <ul>
        <li><a href="https://twitter.com/twitterapi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a></li>
        <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
      </ul>
    </section>
    <figure>
      <img src="http://fakeimg.pl/660x440/666/?text=660x440">
      <figcaption>Подпись к фотографии. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
      <small>© Фотография: Фотограф / Название агентства</small>
    </figure>
  </header>
  <div class="row">
    <!--article main-->
    <div class="news-article__body  col-xs-7">
      <h2>
        Вводка (h2). Крупнейшая горно-металлургическая компания «Мечел» ведет
        переговоры с Альфа-банком касательно требований досрочной выплаты
        кредита на сумму 150 млн долларов. Возвратить эту сумму банку компания
        должна была летом текущего года, однако, как сообщают СМИ, кредитная
        организация потребовала расплатиться досрочно. Аналитики считают,
        что «Мечел» способен это сделать, но это существенно осложнит ситуацию
        в компании. По их прогнозам, единственный способ избежать дефолта
        для компании – договориться, заручиться господдержкой, как два года назад
        это удалось акционеру ЧТПЗ Андрею Комарову. Подробности — в материале
        «УралПолит.Ru».
      </h2>

      <h3>Название главы (h3)</h3>

      <p>
        <a href="#">«Мечел»</a> может <b>досрочно погасить кредит</b> Альфа-банка, как он того требует, если не получится
        договориться о выплате в предусмотренные договором сроки (июнь – июль 2014 года). Об этом
        «УралПолит.Ru» сообщили в пресс-службе компании. Как указано в материалах компании,
        в августе – сентябре 2013 года группа «Мечел» получила от банка несколько краткосрочных
        траншей со сроком погашения в июне – июле 2014 года на общую сумму 150 млн долларов
        под процентную ставку 10,9 % годовых. В качестве обеспечения обязательств заемщика
        по кредитному договору предоставлено 65 % акций ОАО «Белорецкий металлургический
        комбинат» (Республика Башкортостан) и 25 % минус одна акция ОАО «Торговый порт Посьет»
        (Приморский край). Накануне банк потребовал досрочной выплаты кредита.
      </p>
      <ul>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid aut consequuntur dolorem, doloribus ea earum et eum fugit neque numquam omnis quae quisquam sapiente similique suscipit ut voluptatibus?</li>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
      </ul>
      <p>
        «Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита
        на сумму 150 млн долларов. ОАО «Мечел» является добросовестным заемщиком и обслуживает
        все кредиты (в том числе и Альфа-банка) своевременно. Если компания не сможет договориться
        о погашении в предусмотренные кредитным договором сроки (июнь – июль 2014 года), «Мечел»
        выполнит все обязательства перед Альфа-банком и погасит кредит досрочно, как того требует
        банк. «Мечел» ведет переговоры с различными финансовыми институтами, в том числе
        и с Внешэкономбанком, о рефинансировании своих текущих обязательств», – сообщили
        в компании «Мечел».
      </p>
      <ol>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aliquid aut consequuntur dolorem, doloribus ea earum et eum fugit neque numquam omnis quae quisquam sapiente similique suscipit ut voluptatibus?</li>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
        <li>«Мы ведем переговоры с Альфа-банком касательно требований досрочной выплаты кредита</li>
      </ol>

      <blockquote>
        Аналитики отмечают, что текущее состояние компании
        близко к критическому и несмотря на то, что она сможет
        выплатить такую сумму, последствия могут быть
        самыми негативными.
      </blockquote>

      <p>
        «Риски для самого «Мечела» становятся все выше, потому что, не расплатившись
        с Альфа-банком, он спровоцирует дефолты и по другим обязательствам. Стоит помнить о том,
        что 59 % акций самой компании находится в залоге у банков, не говоря уже о структурах дочерних
        предприятий. Разговоров о господдержке сейчас нет, владельцы компании не работают в данном
        направлении, хотя могли бы проработать этот момент еще год назад», – комментирует ситуацию
        старший аналитик компании «Альпари» Анна Бодрова.
      </p>

      <p>
        Аналитик ИК «Русс-Инвест» Семен Немцов считает, что в случае неспособности «Мечела»
        вернуть всю сумму другие кредиторы также могут потребовать досрочных выплат.
      </p>

    </div>

    <!--expert about-->
    <article class="col-xs-3  expert-full">
      <header class="l-hLine  expert-full__section">
        <img class="expert-full__photo" src="http://lorempixel.com/g/80/80/people/3" alt="Place Kitten" />
        <span class="expert-full__label">Эксперт</span>
        <h2 class="expert-full__name">Константин Константинопольский</h2>
        <p>Заместитель директора Центра трудовых исследований Национального исследовательского университета «Высшая школа экономики»</p>
      </header>
      <div class="expert-full__section  expert-full__about">
        Родился в 1951 году
        в Москве.

        <h3>Образование:</h3>
        <p>Московский
          государственный университет
          им. М.В. Ломоносова,
          экономический
          факультет (1973 г.),
          специальность «экономика»;
          Аспирантура – Институт
          мировой экономики
          и международных
          отношений РАН (1976 г.).</p>

        <h3>Ученые степени:</h3>
        <p>кандидат наук (1978 г.);</p>
        <p>доктор наук (2003 г.).</p>

        <h3>Профессиональные интересы:</h3>
        <ul>
          <li>экономика труда,</li>
          <li>институциональная экономика,</li>
          <li>история экономической мысли,</li>
          <li>теория и история либерализма.</li>
        </ul>

        <h3>Профессиональные интересы:</h3>
        <ul>
          <li>экономика труда,</li>
          <li>институциональная экономика,</li>
          <li>история экономической мысли,</li>
          <li>теория и история либерализма.</li>
        </ul>
      </div>

      <footer class="expert-full__section  expert-full__author-articles">
        <h2>Ранее у этого автора:</h2>
        <ul>
          <li>
            <time>14 марта 2014 г., 19:03</time>
            <a href="#">Вопрос «золотых парашютов» не столько экономический, сколько пиаровский</a>
          </li>
          <li>
            <time>14 марта 2014 г., 19:03</time>
            <a href="#">Вопрос «золотых парашютов» не столько экономический, сколько пиаровский</a>
          </li>
        </ul>

        <a href="#" class="btn-serv">Все статьи автора</a>
      </footer>
    </article>
  </div>
  <!--article footer-->
  <footer>
    <!--'read also'  section-->
    <section class="news-section">
      <header>
        <h2 class="news-section__title">Читайте еще материалы по этой теме:</h2>
      </header>
      <ul>
        <li>
          <a href="#" class="news-article">
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
          </a>
        </li>
        <li>
          <a href="#" class="news-article">
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
          </a>
        </li>
        <li>
          <a href="#" class="news-article">
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
          </a>
        </li>
      </ul>
    </section>
    <!--tag list-->
    <section class="tag-list">
      <div>
        <h3 class="tag-list__title">Персоны:</h3>
        <ul>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
        </ul>
      </div>
      <div>
        <h3 class="tag-list__title">Заголовок:</h3>
        <ul>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
        </ul>
      </div>
      <div>
        <h3 class="tag-list__title">Длинный заголовок:</h3>
        <ul>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
          <li><a href="#">Андрей Шенк</a></li>
        </ul>
      </div>
    </section>
    <!--social widget-->
    <section class="social-widget  type-share">
      <h3 class="social-widget__title">Поделиться:</h3>
      <ul>
        <li><a href="https://twitter.com/twitterapi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a></li>
        <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
      </ul>
    </section>

    <!--Disqus widget-->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'ural-polit-test'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!--Disqus widget END-->

  </footer>
</article>

