<article class="news-article  type-template-gallery">

  <div class="news-article__body">
    <div class="container">
      <!--body header -->
      <header>
        <time>14 марта 2014 г., 19:03</time>
        <h1 class="news-article__title">
          Заголовок. Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями
          <span class="news-article__counter">123</span>
        </h1>
        <h2 class="news-article__subTitle">Информационный или SEO–подзаголовок. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» — заручиться господдержкой</h2>
        <section class="social-widget  type-follow">
          <ul>
            <li><a href="https://twitter.com/twitterapi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a></li>
            <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
          </ul>
        </section>
      </header>

      <!--gallery-->
      <div class="gallery-slider  flexslider">
        <header class="gallery-slider__header">
          <b>Фото
            <span class="gallery-slider__counter--current"></span>
            из
            <span class="gallery-slider__counter--all"></span>
          </b>
          <div class="l-hLine">
            <span class="gallery-slider__views">284</span>
            <div>
              <a href="#" class="gallery-slider__like-plus">37</a>
              /
              <a href="#" class="gallery-slider__like-minus">8</a>
            </div>
          </div>
        </header>

        <ul class="slides">
          <li>
            <a href="#1">
              <figure>
                <img src="http://lorempixel.com/660/440/business/1">
                <figcaption>Подпись к фотографии 1. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#2">
              <figure>
                <img src="http://lorempixel.com/660/440/business/2">
                <figcaption>Подпись к фотографии 2. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#3">
              <figure>
                <img src="http://lorempixel.com/660/440/business/3">
                <figcaption>Подпись к фотографии 3. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#4">
              <figure>
                <img src="http://lorempixel.com/660/440/business/4">
                <figcaption>Подпись к фотографии 4. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#5">
              <figure>
                <img src="http://lorempixel.com/660/440/business/5">
                <figcaption>Подпись к фотографии 5. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#6">
              <figure>
                <img src="http://lorempixel.com/660/440/business/6">
                <figcaption>Подпись к фотографии 6. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#7">
              <figure>
                <img src="http://lorempixel.com/660/440/business/7">
                <figcaption>Подпись к фотографии 7. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#8">
              <figure>
                <img src="http://lorempixel.com/660/440/business/8">
                <figcaption>Подпись к фотографии 8. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="#9">
              <figure>
                <img src="http://lorempixel.com/660/440/business/9">
                <figcaption>Подпись к фотографии 9. По прогнозам экспертов, единственный способ избежать дефолта для «Мечела» – заручиться господдержкой</figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>

      <div class="gallery-carousel  flexslider">
        <ul class="slides">
          <li><img src="http://lorempixel.com/660/440/business/1"></li>
          <li><img src="http://lorempixel.com/660/440/business/2"></li>
          <li><img src="http://lorempixel.com/660/440/business/3"></li>
          <li><img src="http://lorempixel.com/660/440/business/4"></li>
          <li><img src="http://lorempixel.com/660/440/business/5"></li>
          <li><img src="http://lorempixel.com/660/440/business/6"></li>
          <li><img src="http://lorempixel.com/660/440/business/7"></li>
          <li><img src="http://lorempixel.com/660/440/business/8"></li>
          <li><img src="http://lorempixel.com/660/440/business/9"></li>
        </ul>
      </div>

      <!--body footer-->
      <footer class="row">

        <div class="col-xs-10  col-md-6  col-lg-7">
          <!--'read also'  section-->
          <section class="news-section  type-similar-articles">
            <header>
              <h2 class="news-section__title">Читайте еще материалы по этой теме:</h2>
            </header>
            <ul>
              <li>
                <a href="#" class="news-article">
                  <time>14 марта 2014 г., 19:03</time>
                  <h2 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
                </a>
              </li>
              <li>
                <a href="#" class="news-article">
                  <time>14 марта 2014 г., 19:03</time>
                  <h2 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
                </a>
              </li>
              <li>
                <a href="#" class="news-article">
                  <time>14 марта 2014 г., 19:03</time>
                  <h2 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h2>
                </a>
              </li>
            </ul>
          </section>
          <!--tag list-->
          <section class="tag-list">
            <div>
              <h3 class="tag-list__title">Персоны:</h3>
              <ul>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
              </ul>
            </div>
            <div>
              <h3 class="tag-list__title">Заголовок:</h3>
              <ul>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
              </ul>
            </div>
            <div>
              <h3 class="tag-list__title">Длинный заголовок:</h3>
              <ul>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
                <li><a href="#">Андрей Шенк</a></li>
              </ul>
            </div>
          </section>
          <!--social widget-->
          <section class="social-widget  type-share">
            <h3 class="social-widget__title">Поделиться:</h3>
            <ul>
              <li><a href="https://twitter.com/twitterapi" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a></li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </section>

        </div>

        <div class="hidden-xs  hidden-sm  col-md-4  col-lg-3">
          
          <div class="bnr-wrap  l-island">
            <img src="http://lorempixel.com/260/400/business/1">
          </div>
          
        </div>

      </footer>
    </div>
  </div>

</article>

<footer class="container">
  <div class="row">

    <div class="col-xs-10  col-md-6  col-lg-7">

      <!--Disqus widget-->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ural-polit-test'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      <!--Disqus widget END-->

      include "../components/news-from-partners"
    </div>

    <div class="hidden-xs  hidden-sm  col-md-4  col-lg-3">

      include "../components/nfp-widget"

    </div>

  </div>
</footer>



