<section class="project-page">
  <header>
    <h1 class="project-page__title">Энциклопедия</h1>
  </header>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Последние упоминания персон</h2>

      include "../single-components/filter"
    </header>

    <ul>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <footer>
      <a href="#" class="btn btn-serv">Все компании</a>

      <div class="bnr-wrap  type-centered  type-bordered">
        <img src="http://fakeimg.pl/470x60/?text=470x60">
      </div>
    </footer>

  </section>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Последние упоминания регионов</h2>

      include "../single-components/filter"
    </header>

    <ul>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <a href="#"><img src="http://lorempixel.com/80/60/abstract/2"></a>
            </div>
            <h3 class="last-mention__subject__title"><a href="#">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</a></h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <a href="#"><img src="http://lorempixel.com/80/60/business/3"></a>
              </div>
              <a href="#" class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</a>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <footer>
      <a href="#" class="btn btn-serv">Все регионы</a>
    </footer>

  </section>

  include "../components/news-from-partners"
</section>