<section class="project-page">
  <header>
    <h2 class="project-page__title">Энциклопедия</h2>
  </header>

  <section>
    <header class="row">
      <img class="col-xs-2" src="http://fakeimg.pl/100x100/?text=100x100">
      <h2 class="col-xs-8  encyclopedia-section__title">ОАО «Екатеринбургская электросетевая компания»</h2>
    </header>

    <div class="encyclopedia-section  type-company">
      <header>
        <h3>Информация о компании</h3>
        <button class="encyclopedia-section__toggler-state">Развернуть</button>
      </header>
      <div class="encyclopedia-section__body">
        <p>
          1 ноября 2001 года решением РАО «ЕЭС России», Совета директоров ОАО «Свердловэнерго»
          и МО «г. Екатеринбург» на базе имущества Свердловские городские электрические сети учреждено
          Открытое Акционерное Общество «Екатеринбургская электросетевая компания» (ОАО «ЕЭСК»).
          С 1 мая 2008 года ОАО «ЕЭСК» является дочерним зависимым обществом ОАО «МРСК Урала».
          Акционеры общества: ОАО «МРСК Урала» (91,04% акций) и ЕМУП «МЭС» (8,96% акций).
        </p>
        <p>
          Основное направление деятельности ОАО «ЕЭСК» – передача электроэнергии
          по распределительным сетям 0,4 – 110 кВ, оперативно-техническая работа, развитие
          электросетевой инфраструктуры г. Екатеринбурга и технологическое присоединение потребителей
          к электрическим сетям.
        </p>
        <h3>Показатели</h3>
        <p>
          Основные показатели компании за 2010 год: численность персонала — 782 человека, объём
          предприятия — 64 374 у.е., подстанции 220 – 110 – 35 кВ — 68 шт., количество ТП и РП —
          1 674 шт., протяженность ВЛ 0,4-110 кВ — 1 146 км, протяженность КЛ 0,4 – 110 кВ - 3 035 км.
          Установленная мощность подстанций, находящихся на балансе ОАО «ЕЭСК», составляет
          3 607,1 МВА, трансформаторных и распределительных пунктов — 1 447,6 МВА.
        </p>
        <dl class="line">
          <dt>Директор</dt>
          <dd>Семериков Александр Сергеевич</dd>
        </dl>

        <address class="row">
          <div class="col-xs-5">
            <dl>
              <dt>Телефон</dt>
              <dd>(343) 370 28 44</dd>
            </dl>
            <dl>
              <dt>Адрес</dt>
              <dd>620014, г. Екатеринбург, ул. Бориса Ельцина, 1 и еще немного для длинного адреса.</dd>
            </dl>
          </div>
          <div class="col-xs-5">
            <dl>
              <dt>E-mail</dt>
              <dd><a href="mailto:eesk@eesk.ru">eesk@eesk.ru</a></dd>
            </dl>
            <dl>
              <dt>Сайт</dt>
              <dd><a target="_blank" href="http://sges.ru">sges.ru</a></dd>
            </dl>
          </div>
        </address>

      </div>
    </div>
  </section>

  <p>&nbsp</p>

  include "../components/content"

</section>

