<section class="project-page">
  <header>
    <h1 class="project-page__title">Энциклопедия</h1>
  </header>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Последние упоминания персон</h2>

      <div class="project-page__filter">
        <span>Поиск эксперта:</span>
        <select>
          <option selected disabled>Выберите отрасль</option>
          <option value="1">Отрасль 1</option>
          <option value="1">Отрасль 2</option>
          <option value="1">Отрасль 100500</option>
        </select>
        <select disabled>
          <option value="1" selected>По алфавиту</option>
          <option value="1" selected>Сортировка 1</option>
          <option value="1" selected>Сортировка 2</option>
        </select>
        <div>
          <button class="btn btn-default">Найти</button>
        </div>
      </div>
    </header>

    <ul>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <footer>
      <a href="#" class="btn btn-serv">Все компании</a>

      <div class="bnr-wrap  type-centered  type-bordered">
        <img src="http://fakeimg.pl/470x60/?text=470x60">
      </div>
    </footer>

  </section>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Последние упоминания регионов</h2>

      <div class="project-page__filter">
        <span>Поиск эксперта:</span>
        <select>
          <option selected disabled>Выберите отрасль</option>
          <option value="1">Отрасль 1</option>
          <option value="1">Отрасль 2</option>
          <option value="1">Отрасль 100500</option>
        </select>
        <select disabled>
          <option value="1" selected>По алфавиту</option>
          <option value="1" selected>Сортировка 1</option>
          <option value="1" selected>Сортировка 2</option>
        </select>
        <div>
          <button class="btn btn-default">Найти</button>
        </div>
      </div>
    </header>

    <ul>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
      <li>
        <article class="last-mention">
          <div class="last-mention__subject">
            <h4 class="last-mention__subject__tag">Наука и образование</h4>
            <div class="last-mention__subject__photo">
              <img src="http://lorempixel.com/80/60/abstract/2">
            </div>
            <h3 class="last-mention__subject__title">Автономная некоммерческая организация «Пермский гуманитарно-технологический институт»</h3>
          </div>
          <div class="last-mention__article">
            <span class="last-mention__article__token">П</span>
            <div class="last-mention__article__body">
              <h4 class="last-mention__article__tag">Упоминание в материале от 14 марта 2014 г., 19:03:</h4>
              <h3 class="last-mention__article__title"><a href="#">общество и происшествия</a></h3>
              <div class="last-mention__article__photo">
                <img src="http://lorempixel.com/80/60/business/3">
              </div>
              <div class="arrow-after">Объемы выпуска продукции пермских предприятий «Уралхима» превысили показатели бизнес-плана</div>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <footer>
      <a href="#" class="btn btn-serv">Все регионы</a>
    </footer>

  </section>

  include "../components/news-from-partners"
</section>