<!--themes of the day-->
<div class="col-xs-10  col-md-6">
  <section class="news-section">
    <header>
      <h1 class="news-section__title">Темы дня</h1>
    </header>
    <ul>
      <li>
        <a href="#" class="news-article  type-preview-L">
          <aside class="news-article__header">
            <img class="news-article__photo" src="http://fakeimg.pl/380x240/666/?text=380x240">
            <span class="news-article__tag">Экономика и бизнес</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
        <article class="news-article  type-opinion">
          <aside class="news-article__column-lt">
            <img class="news-article__photo" src="http://placekitten.com/g/80/80" alt="Place Kitten" />
          </aside>
          <div class="news-article__column-rt">
            <header class="l-hLine">
              <span class="news-article__tag">Личный взгляд</span>
              <span class="news-article__author">Константин Константинопольский</span>
            </header>
            <div class="news-article__body">
              Со дня на день стоит ждать падения
              стоимости акций Челябинского
              трубопрокатного завода
            </div>
          </div>
        </article>
      </li>
      <li>
        <a href="#" class="news-article  type-preview-L">
          <aside class="news-article__header">
            <img class="news-article__photo" src="http://fakeimg.pl/380x240/666/?text=380x240">
            <span class="news-article__tag">Экономика и бизнес</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
        <article class="news-article  type-opinion  state-disabled">
          <aside class="news-article__column-lt">
            <img class="news-article__photo" src="http://placekitten.com/g/80/80" alt="Place Kitten" />
          </aside>
          <div class="news-article__column-rt">
            <header class="l-hLine">
              <span class="news-article__tag">Личный взгляд</span>
              <span class="news-article__author">Константин Константинопольский</span>
            </header>
            <div class="news-article__body">
              Со дня на день стоит ждать падения
              стоимости акций Челябинского
              трубопрокатного завода
            </div>
          </div>
        </article>
      </li>
      <li>
        <a href="#" class="news-article  type-preview-L  state-disabled">
          <aside class="news-article__header">
            <img class="news-article__photo" src="http://fakeimg.pl/380x240/666/?text=380x240">
            <span class="news-article__tag">Экономика и бизнес</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
        <article class="news-article  type-opinion  state-attention">
          <aside class="news-article__column-lt">
            <img src="http://placekitten.com/g/80/80" alt="Place Kitten" />
          </aside>
          <div class="news-article__column-rt">
            <header class="l-hLine">
              <span class="news-article__tag">Личный взгляд</span>
              <span class="news-article__author">Константин Константинопольский</span>
            </header>
            <div class="news-article__body">
              Со дня на день стоит ждать падения
              стоимости акций Челябинского
              трубопрокатного завода
            </div>
          </div>
        </article>
      </li>
    </ul>

    <footer class="btn-serv-wrap">
      <a href="#" class="btn  btn-serv">Все сюжеты</a>
    </footer>
  </section>
</div>
<!--common news-->
<div class="col-xs-10  hidden-sm  col-md-4">
  <section class="news-section">
    <header>
      <h1 class="news-section__title">Новости</h1>
    </header>
    <ul>
      <li>
        <a class="news-article  type-preview-M  state-attention">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="attention-label">Срочно в номер</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M  state-disabled">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
    </ul>
    <footer class="btn-serv-wrap">
      <a href="#" class="btn  btn-serv">Все новости</a>
    </footer>
  </section>
</div>