<div class="container">

  <section class="news-section  col-lg-4">
    <header>
      <h1 class="news-section__title">Темы дня</h1>
    </header>
    <ul>
      <li>
        <a href="#" class="news-article  type-preview-large">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/380x240/666/?text=380x240">
            <span class="news-article__tag">Экономика и бизнес</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
        <article class="news-article  type-opinion">
          <aside class="news-article__column-lt">
            <img src="http://placekitten.com/g/80/80" alt="Place Kitten" />
          </aside>
          <div class="news-article__column-rt">
            <header class="l-hLine">
              <span class="news-article__tag">Личный взгляд</span>
              <span class="news-article__author">Константин Константинопольский</span>
            </header>
            <div class="news-article__body">
              Со дня на день стоит ждать падения
              стоимости акций Челябинского
              трубопрокатного завода
            </div>
          </div>
        </article>
      </li>
      <li>
        <a href="#" class="news-article  type-preview-large">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/380x240/666/?text=380x240">
            <span class="news-article__tag">Экономика и бизнес</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
        <article class="news-article  type-opinion  state-disabled">
          <aside class="news-article__column-lt">
            <img src="http://placekitten.com/g/80/80" alt="Place Kitten" />
          </aside>
          <div class="news-article__column-rt">
            <header class="l-hLine">
              <span class="news-article__tag">Личный взгляд</span>
              <span class="news-article__author">Константин Константинопольский</span>
            </header>
            <div class="news-article__body">
              Со дня на день стоит ждать падения
              стоимости акций Челябинского
              трубопрокатного завода
            </div>
          </div>
        </article>
      </li>
      <li>
        <a href="#" class="news-article  type-preview-large  state-disabled">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/380x240/666/?text=380x240">
            <span class="news-article__tag">Экономика и бизнес</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
        <article class="news-article  type-opinion  state-attention">
          <aside class="news-article__column-lt">
            <img src="http://placekitten.com/g/80/80" alt="Place Kitten" />
          </aside>
          <div class="news-article__column-rt">
            <header class="l-hLine">
              <span class="news-article__tag">Личный взгляд</span>
              <span class="news-article__author">Константин Константинопольский</span>
            </header>
            <div class="news-article__body">
              Со дня на день стоит ждать падения
              стоимости акций Челябинского
              трубопрокатного завода
            </div>
          </div>
        </article>
      </li>
    </ul>

    <footer class="btn-serv-wrap">
      <a href="#" class="btn  btn-serv">Все сюжеты</a>
    </footer>
  </section>

  <section class="news-section  col-lg-3">
    <header>
      <h1 class="news-section__title">Новости</h1>
    </header>
    <ul>
      <li>
        <a class="news-article  type-preview  state-attention">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="attention-label">Срочно в номер</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview  state-disabled">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
          </aside>
          <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
    </ul>
    <footer class="btn-serv-wrap">
      <a href="#" class="btn  btn-serv">Все новости</a>
    </footer>
  </section>

  <div class="col-lg-3">
    <!--Hot news section-->
    <section class="news-section">
      <header>
        <h1 class="news-section__title">Горячие темы</h1>
      </header>
      <ul>
        <li>
          <a href="#" class="news-article  type-preview-short">Борьба с коррупцией: задержан бизнесмен Комаров</a>
        </li>
        <li>
          <a href="#" class="news-article  type-preview-short">ЧП: в Сургуте рухнуло здание</a>
        </li>
        <li>
          <a href="#" class="news-article  type-preview-short">Борьба с коррупцией: задержан бизнесмен Комаров</a>
        </li>
        <li>
          <a href="#" class="news-article  type-preview-short">ЧП: в Сургуте рухнуло здание</a>
        </li>
        <li>
          <a href="#" class="news-article  type-preview-short">Борьба с коррупцией: задержан бизнесмен Комаров</a>
        </li>
      </ul>
    </section>
    <!--banner-->
    <div class="l-island">
      <img src="http://fakeimg.pl/240x400/?text=240x400">
    </div>
    <!--top commented materials-->
    <section class="news-section">
      <header>
        <h1 class="news-section__title">Комментарии читателей в самых обсуждаемых материалах</h1>
      </header>
      <ul>
        <li>
          <article class="news-article  type-top-commented">
            <aside class="l-jLine--middle">
              <div class="btn-group  comments-widget">
                <a href="#" class="btn  comments-widget__unit  comments-widget__unit--counter">9 999</a>
                <a href="#" class="btn  comments-widget__unit">Обсудить</a>
              </div>
              <time>11 марта 2014, 17:54</time>
            </aside>
            <div class="news-article__body">
              Заселение скандального дома
              на Фрезеровщиков откладывается.
              Будущие жильцы вновь перессорились
            </div>
            <footer>
              <a class="comment-article" href="#">
                <aside>
                  <span class="comment-article__author">Иван</span>
                  <time>16 марта 2014, 16:57</time>
                </aside>
                <div class="comment-article__body">
                  Понятно, что Стройнадзор не мог принять
                  в эксплуатацию дом с такой разрушенной
                  квартирой без наружной стены. Все
                  остальное стоит, ремонт есть, а наружной
                  стены квартиры нет
                </div>
              </a>
            </footer>
          </article>
        </li>
        <li>
          <article class="news-article  type-top-commented">
            <aside class="l-jLine--middle">
              <div class="btn-group  comments-widget">
                <a href="#" class="btn  comments-widget__unit  comments-widget__unit--counter">1</a>
                <a href="#" class="btn  comments-widget__unit">Обсудить</a>
              </div>
              <time>24 сентября 2014, 17:54</time>
            </aside>
            <div class="news-article__body">
              Заселение скандального дома
              на Фрезеровщиков откладывается.
              Будущие жильцы вновь перессорились
            </div>
            <footer>
              <a class="comment-article" href="#"><aside>
                  <span class="comment-article__author">Иван</span>
                  <time>16 марта 2014, 16:57</time>
                </aside>
                <div class="comment-article__body">
                  Понятно, что Стройнадзор не мог принять
                  в эксплуатацию дом с такой разрушенной
                  квартирой без наружной стены. Все
                  остальное стоит, ремонт есть, а наружной
                  стены квартиры нет
                </div>
              </a>
            </footer>
          </article>
        </li>
      </ul>
    </section>
    <!--poll-->
    <article class="news-article  type-poll">
      <header class="news-article__header">
        <span class="news-article__tag">Опрос</span>
        <h1 class="news-article__title">Как вы считаете, войдет ли Крым в состав России?</h1>
        <img src="http://fakeimg.pl/350x200/666/?text=Hello">
      </header>
      <div class="news-article__body">
        <ul class="reset-list">
          <li>
            <label class="custom-choise-input">
              <input type="checkbox"/>
              <span class="custom-choise-input__label">Да, большинство населения выступает за воссоединение с Россией и против нынешней власти на Украине</span>
            </label>
          </li>
          <li>
            <label class="custom-choise-input">
              <input type="checkbox"/>
              <span class="custom-choise-input__label">Нет</span>
            </label>
          </li>
          <li>
            <label class="custom-choise-input">
              <input type="radio" name="poll"/>
              <span class="custom-choise-input__label">Да, большинство населения выступает за воссоединение с Россией и против нынешней власти на Украине</span>
            </label>
          </li>
          <li>
            <label class="custom-choise-input">
              <input type="radio" name="poll"/>
              <span class="custom-choise-input__label">Нет</span>
            </label>
          </li>
        </ul>

        <footer class="news-article__footer">
          <a href="#" class="btn  btn-default">Проголосовать</a>
          <a href="#" class="btn  btn-serv">Архив опросов</a>
        </footer>
      </div>
    </article>
  </div>

</div>

<!--Important news section-->
<div class="news-section  type-important">
  <section class="container">

    <header>
      <h1 class="news-section__title">Читайте также другие важные темы:</h1>
    </header>

    <ul>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article  state-disabled">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
    </ul>

    <div class="bnr-wrap">
      <img class="img-responsive" src="http://fakeimg.pl/730x90/?text=730x90">
    </div>

    <ul>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article  state-disabled">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="news-article">
          <aside class="news-article__header">
            <img src="http://fakeimg.pl/180x180/666/?text=180x180">
            <span class="news-article__tag">Экология</span>
            <span class="news-article__counter">123</span>
          </aside>
          <header>
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__theme">Экология</h2>
            <h1 class="news-article__title">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</h1>
          </header>
          <div class="news-article__body  arrow-after">
            Крупнейшая горно-металлургическая компания «Мечел»
            ведет переговоры с Альфа-банком касательно
            требований досрочной выплаты кредита на сумму
            150 млн долларов
          </div>
        </a>
      </li>
    </ul>

    <footer class="news-section__footer">
      <a href="#" class="btn">Показать еще</a>
    </footer>
  </section>
</div>


<div class="container">
  <div class="row">
    <!--column-->
    <div class="col-lg-7">

      <div class="row">
        <div class="col-lg-3">
          <section class="news-section  type-content-centered">
            <header>
              <h1 class="news-section__title">Энциклопедия</h1>
            </header>
            <ul>
              <li>
                <a class="news-article  type-person" href="#">
                  <img class="news-article__photo" src="http://fakeimg.pl/110x110/?text=110x110">
                  <span class="news-article__tag">Персоны</span>
                  <h2 class="news-article__title">Константинопольский Константин Константинович</h2>
                  <div class="news-article__body">Прокурор Свердловского района Перми</div>
                </a>
              </li>
              <li>
                <a class="news-article  type-person" href="#">
                  <img class="news-article__photo" src="http://fakeimg.pl/110x110/?text=110x110">
                  <span class="news-article__tag">Персоны</span>
                  <h2 class="news-article__title">Бевх Виктор Петрович</h2>
                  <div class="news-article__body">Прокурор Свердловского района Перми</div>
                </a>
              </li>
            </ul>
            <footer class="btn-serv-wrap">
              <a href="#" class="btn  btn-serv">Вся энциклопедия</a>
            </footer>
          </section>

          <div class="bnr-wrap">
            <img src="http://fakeimg.pl/200x300/?text=200x300">
          </div>

        </div>
        <!--column-->
        <div class="col-lg-4">
          <section class="news-section">
            <header>
              <h1 class="news-section__title">Обзор блогов</h1>
            </header>
            <ul>
              <li>
                <a class="news-article  type-preview">
                  <aside>
                    <time>16:20</time>
                    <span class="news-article__counter">123</span>
                  </aside>
                  <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
                  <h2 class="news-article__title">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</h2>
                  <div class="news-article__body  arrow-after">
                    Церемония открытия XXII зимних
                    Олимпийских игр в Сочи стала одним
                    из наиболее выдающихся по красоте
                    и сложности организации мероприятий
                    последних лет. Однако за торжественным
                    пафосом пользователи Интернета
                    обнаружили ряд неловких моментов
                  </div>
                </a>
              </li>
              <li>
                <a class="news-article  type-preview">
                  <aside>
                    <time>16:20</time>
                    <span class="news-article__counter">123</span>
                  </aside>
                  <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
                  <h2 class="news-article__title">Сон Медведева и «убийство» виноватого в нераскрывшемся кольце Олимпиады</h2>
                  <div class="news-article__body  arrow-after">
                    Церемония открытия XXII зимних
                    Олимпийских игр в Сочи стала одним
                    из наиболее выдающихся по красоте
                    и сложности организации мероприятий
                    последних лет. Однако за торжественным
                    пафосом пользователи Интернета
                    обнаружили ряд неловких моментов
                  </div>
                </a>
              </li>
              <li>
                <a class="news-article  type-preview">
                  <aside>
                    <time>16:20</time>
                    <span class="news-article__counter">123</span>
                  </aside>
                  <img class="news-article__photo" src="http://fakeimg.pl/80x60/?text=80x60">
                  <h2 class="news-article__title">Cлухи о новом браке Путина и их разоблачение</h2>
                  <div class="news-article__body  arrow-after">
                    Церемония открытия XXII зимних
                    Олимпийских игр в Сочи стала одним
                    из наиболее выдающихся по красоте
                    и сложности организации мероприятий
                    последних лет. Однако за торжественным
                    пафосом пользователи Интернета
                    обнаружили ряд неловких моментов
                  </div>
                </a>
              </li>
            </ul>
            <footer class="btn-serv-wrap">
              <a href="#" class="btn  btn-serv">Все обзоры блогов</a>
            </footer>
          </section>
        </div>
        <!--column-->
        <div class="col-lg-3">
          <section class="news-section">
            <header>
              <h1 class="news-section__title  type-non-accented">Проекты «УралПолит.Ru»</h1>
            </header>
            <ul>
              <li>
                <a class="news-article  type-project" href="#">
                  <img class="news-article__photo" src="http://fakeimg.pl/135x135/?text=135x135">
                  <span class="news-article__tag">Global City</span>
                  <h2 class="news-article__title">Владимир Бегунов выступит на виниловой вечеринке</h2>
                </a>
              </li>
              <li>
                <a class="news-article  type-project" href="#">
                  <img class="news-article__photo" src="http://fakeimg.pl/135x135/?text=135x135">
                  <span class="news-article__tag">Global City</span>
                  <h2 class="news-article__title">Владимир Бегунов выступит на виниловой вечеринке</h2>
                </a>
              </li>
              <li>
                <a class="news-article  type-project" href="#">
                  <img class="news-article__photo" src="http://fakeimg.pl/135x135/?text=135x135">
                  <span class="news-article__tag">Global City</span>
                  <h2 class="news-article__title">Владимир Бегунов выступит на виниловой вечеринке</h2>
                </a>
              </li>
            </ul>
          </section>
        </div>
      </div>

      <div class="row">
        <section class="news-section  type-from-partner">
          <header>
            <h1 class="news-section__title  type-non-accented">Новости партнеров</h1>
          </header>
          <ul>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
            <li>
              <a class="news-article  type-from-partner">
                <img class="news-article__photo" src="http://fakeimg.pl/70x70/?text=70x70">
                <h2 class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</h2>
                <div class="news-article__body">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</div>
              </a>
            </li>
          </ul>
        </section>
      </div>

    </div>
    <!--column-->
    <div class="col-lg-3">
      <div class="l-island">
        <img src="http://fakeimg.pl/240x400/?text=240x400">
      </div>

      <section class="social-widgets-list">
        <header>
          <h1 class="social-widgets-list__title">Следите за нами в соцсетях:</h1>
        </header>
        <ul class="reset-list">
          <li>
            <div id="vk_groups"></div>
            <script type="text/javascript">
              VK.Widgets.Group("vk_groups", {mode: 0, width: "240", height: "290"}, 1);
            </script>
          </li>
          <li>
            <div id="ultraorange"></div>
            <script type="text/javascript">
              VK.Widgets.Group("ultraorange", {mode: 0, width: "240", height: "290"}, 1);
            </script>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
