<section class="project-page">
  <header>
    <h2 class="project-page__title">Лента новостей</h2>
  </header>

  <section class="news-section  type-news-feed">
    <ul>
      <li>
        <h2 class="news-section__title">14 марта 2014 г</h2>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M  state-attention">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="attention-label">Срочно в номер</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <h2 class="news-section__title">15 марта 2014 г</h2>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
      <li>
        <a class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <span class="news-article__counter">123</span>
            <span class="news-article__tag">Название тега</span>
          </aside>
          <span class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</span>
        </a>
      </li>
    </ul>

  </section>

  <footer>

    <ul class="pagination">
      <li><a href="#">1</a></li>
      <li class="pagination__ellipsis"><a href="#">...</a></li>
      <li><a href="#">50</a></li>
      <li><a href="#">51</a></li>
      <li><a href="#">52</a></li>
      <li class="active"><a href="#">53</a></li>
      <li><a href="#">54</a></li>
      <li><a href="#">55</a></li>
      <li><a href="#">56</a></li>
      <li class="pagination__ellipsis"><a href="#">...</a></li>
      <li><a href="#">555</a></li>
    </ul>

  </footer>

</section>

