<section class="project-page">
  <header>
    <h1 class="project-page__title">Лента новостей</h1>
  </header>

  <section class="news-section  type-news-feed">
    <ul>
      <li>
        <h2 class="news-section__title">14 марта 2014 г</h2>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M  state-attention">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <span class="attention-label">Срочно в номер</span>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a href="#" class="news-article__counter">123</a>
            <span class="attention-label">Срочно в номер</span>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <h2 class="news-section__title">15 марта 2014 г</h2>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a href="#" class="news-article__counter">123</a>
            <span class="attention-label">Срочно в номер</span>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <h2 class="news-section__title">15 марта 2014 г</h2>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
      <li>
        <article class="news-article  type-preview-M">
          <aside>
            <time>16:20</time>
            <a class="news-article__counter">123</a>
            <a href="#" class="news-article__tag">Объекты</a>
          </aside>
          <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
        </article>
      </li>
    </ul>

  </section>

  <footer>

    include "../single-components/pagination"

  </footer>

</section>

