<section class="project-page">
  <header>
    <h1 class="project-page__title">Личный взгляд</h1>
  </header>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Главное</h2>
    </header>

    <ul>
      <li>
        include "../single-components/article-XL"
      </li>
    </ul>
  </section>

  <section>
    <header class="experts-all">
      <div class="l-jLine--middle">
        <span class="news-article__tag">Эксперты уралполит.ru</span>
        <a href="#" class="btn-serv">Все эксперты</a>
      </div>

      <div class="experts-all__carousel">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <a href="#">
                <figure class="experts-all__person">
                  <img src="http://lorempixel.com/75/75/people/4" alt=""/>
                  <figcaption>Константин Константинопольский</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="experts-all__person">
                  <img src="http://lorempixel.com/75/75/people/2" alt=""/>
                  <figcaption>Константин Константинопольский</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="experts-all__person">
                  <img src="http://lorempixel.com/75/75/people/5" alt=""/>
                  <figcaption>Константин Константинопольский</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="experts-all__person">
                  <img src="http://lorempixel.com/75/75/people/1" alt=""/>
                  <figcaption>Константин Константинопольский</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="experts-all__person">
                  <img src="http://lorempixel.com/75/75/people/9" alt=""/>
                  <figcaption>Константин Константинопольский</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="experts-all__person">
                  <img src="http://lorempixel.com/75/75/people/3" alt=""/>
                  <figcaption>Константин Константинопольский</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>

      include "../single-components/filter"
    </header>


    <section class="news-section  type-expert-opinions">
      <header>
        <h2 class="news-section__title">Экспертные мнения и комментарии</h2>
      </header>

      <ul>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

              <footer>
                <h3 class="news-article__subTitle">Ранее у этого автора:</h3>
                <p><a href="#" class="arrow-after">На выборах в донской парламент партиям придется угадывать округа</a></p>
                <p><a href="#" class="btn-serv">Все статьи автора</a></p>
              </footer>
            </div>

          </div>

        </li>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

            </div>

          </div>

        </li>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

              <footer>
                <h3 class="news-article__subTitle">Ранее у этого автора:</h3>
                <p><a href="#" class="arrow-after">На выборах в донской парламент партиям придется угадывать округа</a></p>
                <p><a href="#" class="btn-serv">Все статьи автора</a></p>
              </footer>
            </div>

          </div>

        </li>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

              <footer>
                <h3 class="news-article__subTitle">Ранее у этого автора:</h3>
                <p><a href="#" class="arrow-after">На выборах в донской парламент партиям придется угадывать округа</a></p>
                <p><a href="#" class="btn-serv">Все статьи автора</a></p>
              </footer>
            </div>

          </div>

        </li>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

            </div>

          </div>

        </li>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

              <footer>
                <h3 class="news-article__subTitle">Ранее у этого автора:</h3>
                <p><a href="#" class="arrow-after">На выборах в донской парламент партиям придется угадывать округа</a></p>
                <p><a href="#" class="btn-serv">Все статьи автора</a></p>
              </footer>
            </div>

          </div>

        </li>
        <li>

          <article class="layout-l  news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>

          <div class="layout-r  news-section  type-persons">

            <div class="news-article">
              <a href="#"><img class="img-circle" src="http://lorempixel.com/75/75/people/7"></a>
              <a href="#" class="news-article__tag">Эксперт</a>
              <h2 class="news-article__title"><a href="#">Бевх Виктор Петрович</a></h2>
              <div class="news-article__body">Прокурор Свердловского района Перми</div>

              <footer>
                <h3 class="news-article__subTitle">Ранее у этого автора:</h3>
                <p><a href="#" class="arrow-after">На выборах в донской парламент партиям придется угадывать округа</a></p>
                <p><a href="#" class="btn-serv">Все статьи автора</a></p>
              </footer>
            </div>

          </div>

        </li>
      </ul>

    </section>

  </section>

  <footer>
    include "../single-components/pagination"
  </footer>

</section>

