<section class="project-page">
  <header>
    <h1 class="project-page__title">Название рубрики/раздела</h1>
  </header>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Главное</h2>
    </header>

    <ul>
      <li>
        <a href="#" class="news-article  type-preview-XL">
          <img class="news-article__photo" src="http://lorempixel.com/680/440/business/9">
          <span class="news-article__tag">Экономика и бизнес</span>
          <div class="news-article__header">
            <time>14 марта 2014 г., 19:03</time>
            <h2 class="news-article__title">
              Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями
              <span class="news-article__counter">123</span>
            </h2>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <p>&nbsp</p>

  include "main"

</section>

