<section class="project-page">
  <header>
    <h1 class="project-page__title">Экономика и бизнес</h1>
  </header>

  <section class="news-section">
    <header>
      <h2 class="news-section__title">Главное</h2>
    </header>

    <ul>
      <li>
        include "../single-components/article-XL"
      </li>
    </ul>
  </section>

  <p>&nbsp</p>

  include "../components/content"


  <footer class="col-xs-10  row">
    <a href="#" class="btn-subject-show-more">Показать еще сюжеты</a>
  </footer>
</section>