<section class="project-page">
  <header>
    <h1 class="project-page__title">Название рубрики/раздела</h1>
  </header>

  <div class="col-xs-10  col-md-6">
    <section class="news-section">
      <header>
        <h2 class="news-section__title"><a href="#">Аналитика</a></h2>
      </header>
      <ul>
        <li>
          <article class="news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
          <article class="news-article  type-opinion">
            <aside class="news-article__column-lt">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/g/80/80/people/3" alt="Place Kitten" /></a>
            </aside>
            <div class="news-article__column-rt">
              <header class="l-hLine">
                <a href="#" class="news-article__tag">Личный взгляд</a>
                <a href="#" class="news-article__author">Константин Константинопольский</a>
              </header>
              <a href="#" class="news-article__body">
                Со дня на день стоит ждать падения
                стоимости акций Челябинского
                трубопрокатного завода
              </a>
            </div>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/2"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
          <article class="news-article  type-opinion  state-visited">
            <aside class="news-article__column-lt">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/g/80/80/people/6" alt="Place Kitten" /></a>
            </aside>
            <div class="news-article__column-rt">
              <header class="l-hLine">
                <a href="#" class="news-article__tag">Личный взгляд</a>
                <a href="#" class="news-article__author">Константин Константинопольский</a>
              </header>
              <a href="#" class="news-article__body">
                Со дня на день стоит ждать падения
                стоимости акций Челябинского
                трубопрокатного завода
              </a>
            </div>
          </article>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-xs-10  hidden-sm  col-md-4">
    <section class="news-section">
      <header>
        <h2 class="news-section__title"><a href="#">Новости</a></h2>
        <h3 class="news-section__head-date">14 марта 2014 г</h3>
      </header>
      <ul>
        <li>
          <article class="news-article  type-preview-M  state-attention">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">23</a>
              <span class="attention-label">Срочно в номер</span>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M  state-visited">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/2"></a>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/6"></a>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/people/2"></a>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M  state-attention">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
              <span class="attention-label">Срочно в номер</span>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M  state-visited">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
      </ul>
    </section>
  </div>

  <!--bnr divider-->
  <div class="col-xs-10 bnr-wrap">
    <img class="news-article__photo" src="http://lorempixel.com/470/60/business/2">
  </div>
  <!--bnr divider-->

  <div class="col-xs-10  col-md-6">
    <section class="news-section">
      <ul>
        <li>
          <article class="news-article  type-preview-L">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/380/240/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
          <article class="news-article  type-opinion">
            <aside class="news-article__column-lt">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/g/80/80/people/3" alt="Place Kitten" /></a>
            </aside>
            <div class="news-article__column-rt">
              <header class="l-hLine">
                <a href="#" class="news-article__tag">Личный взгляд</a>
                <a href="#" class="news-article__author">Константин Константинопольский</a>
              </header>
              <a href="#" class="news-article__body">
                Со дня на день стоит ждать падения
                стоимости акций Челябинского
                трубопрокатного завода
              </a>
            </div>
          </article>
        </li>
      </ul>
    </section>
    <section class="news-section row">
      <ul class="row">
        <li class="col-xs-5">
          <article class="news-article">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/180/180/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
        </li>
        <li class="col-xs-5">
          <article class="news-article">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/180/180/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
        </li>
        <li class="col-xs-5">
          <article class="news-article">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/180/180/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
        </li>
        <li class="col-xs-5">
          <article class="news-article">
            <aside class="news-article__header">
              <a href="#"><img class="news-article__photo" src="http://lorempixel.com/180/180/business/1"></a>
              <a href="#" class="news-article__tag">Экономика и бизнес</a>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <header>
              <time>14 марта 2014 г., 19:03</time>
              <h2 class="news-article__title"><a href="#">Банки готовятся к кризису? «Мечел» рискует быть атакованным кредитными организациями</a></h2>
            </header>
            <div class="news-article__body  arrow-after">
              Крупнейшая горно-металлургическая компания «Мечел»
              ведет переговоры с Альфа-банком касательно
              требований досрочной выплаты кредита на сумму
              150 млн долларов
            </div>
          </article>
        </li>
      </ul>
    </section>
  </div>

  <div class="col-xs-10  hidden-sm  col-md-4">
    <section class="news-section">
      <header>
        <h3 class="news-section__head-date">14 марта 2014 г</h3>
      </header>
      <ul>
        <li>
          <article class="news-article  type-preview-M  state-attention">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">23</a>
              <span class="attention-label">Срочно в номер</span>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M  state-visited">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/2"></a>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/business/6"></a>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#"><img class="news-article__photo" src="http://lorempixel.com/80/60/people/2"></a>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M  state-attention">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
              <span class="attention-label">Срочно в номер</span>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
        <li>
          <article class="news-article  type-preview-M  state-visited">
            <aside>
              <time>16:20</time>
              <a href="#" class="news-article__counter">123</a>
            </aside>
            <a href="#" class="news-article__title">Чуров приедет на Южный Урал ради выборов губернатора [BreakingNews]</a>
          </article>
        </li>
      </ul>
    </section>
  </div>

</section>