<section class="project-page">
  <header>
    <h1 class="project-page__title">Навигация по проекту</h1>
  </header>
  <ul class="col-xs-10  col-sm-6  col-md-7" style="font-size: 20px;">
    <li><a href="main.html">Main page</a></li>
    <li><a href="article.html">Article</a></li>
    <li><a href="article-expert.html">Article expert</a></li>
    <li><a href="section.html">Section</a></li>
    <li><a href="opinion-section.html">Opinion section</a></li>
    <li><a href="subject.html">Subject</a></li>
    <li><a href="encyclopedia-company.html">Encyclopedia company</a></li>
    <li><a href="encyclopedia-section.html">Encyclopedia section</a></li>
    <li><a href="news-feed.html">News feed</a></li>
  </ul>
</section>